<!--
<div>
    <div>{{agency.facility_name}}</div>
    <div>{{agency.facility_type | capitalize:true}} {{agency.facility_status | capitalize:true}}</div>
    <div ng-hide="viewConfig.presentation === 'popup'">{{agency.facility_telephone_number}}</div>
    <div ng-hide="viewConfig.presentation === 'popup'">{{agency.facility_administrator | capitalize:true}}</div>
    <div ng-hide="viewConfig.presentation === 'popup'">{{agency.location_address | capitalize:true}}, {{agency.location_city | capitalize:true}}, {{agency.facility_state}} {{agency.location_zip}}</div>
    <div>Facility Number: {{agency.facility_number}}</div>
    <div>Licensee: {{agency.licensee | uppercase}}</div>
    <div>License First Date: {{agency.license_first_date | date: 'MM/dd/yyyy'}}</div>
    <div ng-hide="viewConfig.presentation === 'list'">Administrator: {{agency.facility_administrator | capitalize:true}}</div>
    <div ng-hide="viewConfig.presentation === 'list'">Telephone: {{agency.facility_telephone_number}}</div>
    <div ng-hide="viewConfig.presentation === 'list'">Address: {{agency.location_address | capitalize:true}}, {{agency.location_city | capitalize:true}}, {{agency.facility_state}} {{agency.location_zip}}</div>
    <div>County Name: {{agency.county_name}}</div>
    <div>Regional Office: {{agency.regional_office}}</div>
    <div>Facility Capacity: {{agency.facility_capacity}}</div>
    <button ng-click="askAbout(agency)">Ask About</button>
</div>
-->

<div class="ch-facility">
    <h3 class="ch-facility__header">{{agency.facility_name}}</h3>
    <div class="ch-facility__tags">
        <ul class="ch-facility-tags clearfix">
            <li class="ch-facility-tags__tag">
                <span class="ch-facilities-tag ch-facilities-tag_foster-family">{{agency.facility_type | capitalize:true}}</span>
            </li>
            <li class="ch-facility-tags__tag">
                <span class="ch-facilities-tag ch-facilities-tag_status_green">{{agency.facility_status | capitalize:true}}</span>
            </li>
        </ul>
    </div>
    <div class="ch-facility__info" ng-hide="viewConfig.presentation === 'popup'">
        <ul class="ch-facility-info">
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text ch-facility-info-text_phone">
                    <p class="ch-facility-info__phone">{{agency.facility_telephone_number}}</p>
                    <p class="ch-facility-info__name">{{agency.facility_administrator | capitalize:true}}</p>
                </div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text ch-facility-info-text_address">
                    <span class="ch-facility-info__address">{{agency.location_address | capitalize:true}}, {{agency.location_city | capitalize:true}}, {{agency.facility_state}} {{agency.location_zip}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="ch-facility__info" ng-hide="agency.hidePartFlag">
        <ul class="ch-facility-info">
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Facility Number: {{agency.facility_number}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Licensee: {{agency.licensee | uppercase}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">License First Date: {{agency.license_first_date | date: 'MM/dd/yyyy'}}</div>
            </li>
            <li class="ch-facility-info__part" ng-hide="viewConfig.presentation === 'list'">
                <div class="ch-facility-info-text">Administrator: {{agency.facility_administrator | capitalize:true}}</div>
            </li>
            <li class="ch-facility-info__part" ng-hide="viewConfig.presentation === 'list'">
                <div class="ch-facility-info-text">Address: {{agency.location_address | capitalize:true}}, {{agency.location_city | capitalize:true}}, {{agency.facility_state}} {{agency.location_zip}}</div>
            </li>
            <li class="ch-facility-info__part" ng-hide="viewConfig.presentation === 'list'">
                <div class="ch-facility-info-text">License First Date: {{agency.license_first_date | date: 'MM/dd/yyyy'}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">County Name: {{agency.county_name}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Regional Office: {{agency.regional_office}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Facility Capacity: {{agency.facility_capacity}}</div>
            </li>
        </ul>
    </div>
    <div class="ch-facility__btn-group clearfix">
        <div class="ch-facilities-btn-group">
            <div class="ch-facilities-btn-group__btn">
                <button type="button" class="ch-plane-btn ch-plane-btn_primary">Ask about</button>
            </div>
            <div class="ch-facilities-btn-group__btn" ng-hide="viewConfig.presentation === 'popup' || !agency.hidePartFlag" ng-click="agency.hidePartFlag = !agency.hidePartFlag">
                <button type="button" class="ch-plane-btn ch-plane-btn_secondary">Show more</button>
            </div>
            <div class="ch-facilities-btn-group__btn" ng-hide="viewConfig.presentation === 'popup' || agency.hidePartFlag" ng-click="agency.hidePartFlag = !agency.hidePartFlag">
                <button type="button" class="ch-plane-btn ch-plane-btn_secondary">Show less</button>
            </div>
        </div>
    </div>
</div>
<!--Another variation-->
<!--<div class="ch-facility">-->
    <!--<h3 class="ch-facility__header">INDEPENDENT ADOPTION CENTER, INC.</h3>-->
    <!--<div class="ch-facility__tags">-->
        <!--<ul class="ch-facility-tags clearfix">-->
            <!--<li class="ch-facility-tags__tag"><span class="ch-facilities-tag ch-facilities-tag_foster-family">foster family</span></li>-->
            <!--<li class="ch-facility-tags__tag"><span class="ch-facilities-tag ch-facilities-tag_status_red">closed</span></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="ch-facility__info">-->
        <!--<ul class="ch-facility-info">-->
            <!--<li class="ch-facility-info__part"><div class="ch-facility-info-text ch-facility-info-text_address"><span class="ch-facility-info__address">309 Broadway Oakland, CA 95804</span></div></li>-->
            <!--<li class="ch-facility-info__part"><div class="ch-facility-info-text ch-facility-info-text_phone"><p class="ch-facility-info__phone">(510) 268-2422</p><p class="ch-facility-info__name">Ann Wrixon</p></div></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="ch-facility__btn-group clearfix">-->
        <!--<div class="ch-facilities-btn-group">-->
            <!--<div class="ch-facilities-btn-group__btn"><button type="button" class="ch-plane-btn ch-plane-btn_primary">Ask about</button></div>-->
            <!--<div class="ch-facilities-btn-group__btn"><button type="button" class="ch-plane-btn ch-plane-btn_secondary">Show more</button></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
