<div class="ch-layout__subheader">
    <section class="ch-facilities-heading">
        <div class="ch-facilities-heading__row">
            <div class="ch-facilities-heading__item ch-facilities-heading__item_2">
                <div class="ch-input-block">
                    <div class="ch-input-block__form-input ch-input-block__form-input_search-field-map ch-input-block__form-input_icon_left">
                        <div id="geocoder" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="ch-facilities-heading__item ch-facilities-heading__item_2">
                <div class="ch-input-block">
                    <div class="ch-input-block__form-input ch-input-block__form-input_icon ch-input-block__form-input_icon_left">
                        <span class="ch-form-input-icon ch-form-input-icon_left ch-form-input-icon_search"></span>
                        <input type="search" ng-model="text" ng-keypress="findAgenciesByTextQuery($event);" name="search-text" id="search-text" class="ch-form-input ch-form-input_small ch-form-input_search" placeholder="Put agency data here" />
                    </div>
                </div>
            </div>
            <div class="ch-facilities-heading__item ch-facilities-heading__item_1">
                <div class="ch-multi-select-dropdown">
                    <button type="button" class="ch-multi-select-dropdown__btn" ng-click="typesConfig.showList = !typesConfig.showList;">
                        <span class="ch-multi-select-dropdown__btn-text">{{typesConfig.label}}</span>
                        <span class="ch-multi-select-dropdown__btn-icon"></span>
                    </button>
                    <div class="ch-multi-select-dropdown__popup" ng-show="typesConfig.showList" ng-mouseleave="typesConfig.showList = false">
                        <ul class="ch-checkboxes-list">
                            <li class="ch-checkboxes-list__item" ng-repeat="type in facilityTypes track by type.id | orderBy: 'id'">
                                <div class="form-type__checkbox_empty-label">
                                    <input id="{{type.id}}" type="checkbox" ng-model="type.selected" ng-click="onTypeClick(type)">
                                    <label for="{{type.id}}">{{type.name | capitalize:true}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ch-facilities-heading__item ch-facilities-heading__item_1">
                <div class="ch-multi-select-dropdown">
                    <button type="button" class="ch-multi-select-dropdown__btn" ng-click="statusesConfig.showList = !statusesConfig.showList;">
                        <span class="ch-multi-select-dropdown__btn-text">{{statusesConfig.label}}</span>
                        <span class="ch-multi-select-dropdown__btn-icon"></span>
                    </button>
                    <div class="ch-multi-select-dropdown__popup" ng-show="statusesConfig.showList" ng-mouseleave="statusesConfig.showList = false">
                        <ul class="ch-checkboxes-list">
                            <li class="ch-checkboxes-list__item" ng-repeat="status in facilityStatuses track by status.id | orderBy: 'id'">
                                <div class="form-type__checkbox_empty-label">
                                    <input id="{{status.id}}" type="checkbox" ng-model="status.selected" ng-click="onStatusClick(status);">
                                    <label for="{{status.id}}">{{status.name | capitalize:true}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="ch-layout__aside ch-layout__aside_facilities" ui-view="aside"></div>

<div class = "ch-layout__content ch-layout__content_facilities" ng-class="{ 'ch-layout__content_fullwidth' : isContentFullWidth }" ui-view="main">
    <div>
        <leaflet defaults="defaults" lf-center="center" markers="locations" layers="layers" style="height: calc(100vh - 14.8rem);"></leaflet>
    </div>
</div>

