

<aside class="ch-aside-section">
    <div class="ch-aside-section__item">
        <nav class="ch-aside-nav">

            <div class="ch-aside-nav__action-btn">
                <button type="button" class="ch-option-btn"  ui-sref="ch-inbox.new-mail">
                    <span class="ch-option-btn__text" title="Write a message to case worker">Write</span>
                </button>
            </div>

            <ul class="ch-aside-nav-list">
                <li class="ch-aside-nav-list__item">
                    <div class="ch-aside-nav-item">
                        <a href="" class="ch-aside-nav-item__link ch-aside-nav-item__link_icon ch-aside-nav-item__link_icon_inbox"
                           ui-sref="ch-inbox.messages({directory: 'inbox'})" ui-sref-active="ch-aside-nav-item__link_active">

                            <span class="ch-aside-nav-item__text" title="List of incoming messages">Incoming</span>
                            <span ng-if="unreadInboxCount > 0" class="ch-aside-nav-item__counter">({{unreadInboxCount}})</span>
                        </a>
                    </div>
                </li>
                <li class="ch-aside-nav-list__item">
                    <div class="ch-aside-nav-item">
                        <a href="" class="ch-aside-nav-item__link ch-aside-nav-item__link_icon ch-aside-nav-item__link_icon_sent"
                           ui-sref="ch-inbox.messages({directory: 'sent'})" ui-sref-active="ch-aside-nav-item__link_active">

                            <span class="ch-aside-nav-item__text" title="List of outgoing messages">Outgoing</span>
                        </a>
                    </div>
                </li>
                <li class="ch-aside-nav-list__item">
                    <div class="ch-aside-nav-item">
                        <a href="" class="ch-aside-nav-item__link ch-aside-nav-item__link_icon ch-aside-nav-item__link_icon_drafts"
                           ui-sref="ch-inbox.messages({directory: 'drafts'})" ui-sref-opts="{directory: 'drafts'}" ui-sref-active="ch-aside-nav-item__link_active">

                            <span class="ch-aside-nav-item__text" title="Auto-saved draft messages">Drafts</span>
                            <span ng-if="draftsCount > 0" class="ch-aside-nav-item__counter">({{draftsCount}})</span>
                        </a>
                    </div>
                </li>
                <li class="ch-aside-nav-list__item">
                    <div class="ch-aside-nav-item">
                        <a href="" class="ch-aside-nav-item__link ch-aside-nav-item__link_icon ch-aside-nav-item__link_icon_deleted"
                           ui-sref="ch-inbox.messages({directory: 'deleted'})" ui-sref-active="ch-aside-nav-item__link_active">

                            <span class="ch-aside-nav-item__text" title="Deleted messages">Deleted</span>
                            <span ng-if="unreadDeletedCount > 0" class="ch-aside-nav-item__counter">({{unreadDeletedCount}})</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="ch-aside-section__item">
        <div class="ch-contacts">
            <h2 class="ch-contacts__heading">Contacts</h2>
            <div class="ch-contacts__body"  ng-scrollbars ng-scrollbars-config="chCustomScrollConfig" set-height>

                <ul class="ch-aside-contacts">

                      <li ng-repeat="contact in contacts" class="ch-aside-contacts__item">
                            <div class="ch-aside-contacts__short clearfix" ng-click="showFullDetails = !showFullDetails">
                                <div class="ch-aside-contacts__image">
                                    <span class="icon icon-user"></span>
                                </div>
                                <div class="ch-aside-contacts__person" title="Contact from you messaging">
                                    <h3 class="ch-aside-contacts__person-name"><span>{{contact.firstName}} {{contact.lastName}}</span></h3>
                                    <h4 class="ch-aside-contacts__person-role"><span>{{contact.roleDescription}}</span></h4>
                                </div>
                                <span class="ch-aside-contacts__short__arrow up" ng-show="showFullDetails"></span>
                                <span class="ch-aside-contacts__short__arrow down" ng-show="!showFullDetails"></span>
                            </div>

                            <div class="ch-aside-contacts__full" ng-show="showFullDetails">
                                <div class="ch-aside-contacts__action-btn">
                                    <button type="button" class="ch-contacts-btn" ng-click="composeMail(contact)">
                                        <span class="ch-contacts-btn__icon"></span>
                                        <span class="ch-contacts-btn__text" title="Write message to this contact">Write</span>
                                    </button>
                                </div>
                                <div class="ch-aside-contacts__description">
                                    <h3 class="ch-contacts-description__phone"><span>{{contact.phone | formatTel}}</span></h3>
                                    <h4 class="ch-contacts-description__address"><span>{{contact.place | formatAddress}}</span></h4>
                                    <a href="" class="ch-contacts-description__filter" ng-click="filterByContact(contact)"><span title="Filter messages by this contact">Filter By Contact</span></a>
                                </div>
                            </div>
                      </li>

                </ul>

            </div>
        </div>
    </div>
</aside>
