body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-133px;
  width:506px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:299px;
}
#u166 {
  position:absolute;
  left:133px;
  top:266px;
  width:506px;
  height:295px;
  opacity:0.7;
}
#u167 {
  position:absolute;
  left:2px;
  top:140px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:38px;
}
#u168 {
  position:absolute;
  left:280px;
  top:296px;
  width:213px;
  height:38px;
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:28px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:50px;
}
#u170 {
  position:absolute;
  left:168px;
  top:448px;
  width:437px;
  height:50px;
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:22px;
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:168px;
  top:365px;
  width:437px;
  height:50px;
}
#u172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:50px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u172_input {
  color:#000000;
}
#u172_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:443px;
  height:56px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:76px;
}
#u173 {
  position:absolute;
  left:274px;
  top:156px;
  width:224px;
  height:76px;
}
#u174 {
  position:absolute;
  left:2px;
  top:30px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:50px;
}
#u175 {
  position:absolute;
  left:168px;
  top:587px;
  width:437px;
  height:50px;
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u175_img.mouseOver {
  width:441px;
  height:54px;
}
#u175.mouseOver {
}
#u176 {
  position:absolute;
  left:2px;
  top:10px;
  width:433px;
  word-wrap:break-word;
}
