
            <h2 translate="settings.title" translate-values="{username: '{{settingsAccount.login}}'}">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName" translate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName" translate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_birthDate">Date of birth</label>

                    <input type="text" id="field_birthDate" name="birthDate" ng-model="settingsAccount.birthDate"
                           class="form-control" placeholder="" aria-describedby="basic-addon1"
                           uib-datepicker-popup is-open="popup1.opened" datepicker-options="dateOptions"
                           close-text="Close" show-button-bar="true" ng-click="popup1.opened=true" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_gender">Gender</label>
                    <select ng-model="settingsAccount.gender" id="field_gender"
                            ng-options="gender.genderName for gender in lookupGender track by gender.id"></select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="phoneNumber">Phone Number</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number"
                           ng-model="settingsAccount.phoneNumber" ng-maxlength=20 maxlength="20"
                           ui-mask="(999) 999-9999"
                           ui-mask-placeholder ui-mask-placeholder-char="_" />
                    <div ng-show="form.phoneNumber.$dirty && form.phoneNumber.$invalid">
                        <p class="help-block"
                           ng-show="form.phoneNumber.$error.maxlength">
                            Your Phone Number cannot be longer than 20 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="ssnLast4Digits">Last 4 digits of SSN </label>
                    <input type="text" class="form-control" id="ssnLast4Digits" name="ssnLast4Digits" placeholder="Last 4 digits of SSN"
                           ng-model="settingsAccount.ssnLast4Digits" ng-minlength=4 ng-maxlength=4 required maxlength="4">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Your Last 4 digits of SSN is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Your Last 4 digits of SSN cannot be longer than 4 characters.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>

<form class="profile-form">
    <div class="profile-form__header">
        <h1 class="profile-form__header-text">My Profile</h1>
        <div class="profile-form__submit-btn">
            <button type="submit" class="ch-plane-btn ch-plane-btn_save">Save Changes</button>
        </div>
    </div>
    <section class="profile-form__section">
        <div class="ch-section">
            <h1 class="ch-section__header">General information</h1>
            <div class="ch-section__content">
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="user-name" class="ch-input-block__label">Username</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="user-name" id="user-name" class="ch-form-input ch-form-input_disable" placeholder="SheylaUsername" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="first-name" class="ch-input-block__label">First Name</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="first-name" id="first-name" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="last-name" class="ch-input-block__label">Last Name</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="last-name" id="last-name" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="license" class="ch-input-block__label">License/Case number</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name=license" id="license" class="ch-form-input ch-form-input_disable" placeholder="0000-1215-5858" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="birth-date" class="ch-input-block__label">Date of Birth <span class="ch-input-block__addition">(For example: 04 28 1986)</span></label>
                            <div class="ch-input-block__form-group">
                                <div class="ch-input-block__form-input ch-input-block__form-input_2dig ch-input-block__form-input_mr_10">
                                    <input type="text" name="birth-date-month" id="birth-date" class="ch-form-input" placeholder="Month" />
                                </div>
                                <div class="ch-input-block__form-input ch-input-block__form-input_2dig ch-input-block__form-input_mr_10">
                                    <input type="text" name="birth-date-day" class="ch-form-input" placeholder="Day" />
                                </div>
                                <div class="ch-input-block__form-input ch-input-block__form-input_4dig ch-input-block__form-input_mr_10">
                                    <input type="text" name="birth-date-year" class="ch-form-input" placeholder="Year" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label class="ch-input-block__label">Gender</label>
                            <div class="ch-input-block__form-input">
                                <label for="gender-male" class="ch-input-block__label ch-input-block__label_radio"><input type="radio" name=gender" id="gender-male" class="ch-form-input" /> Male</label>
                                <label for="gender-female" class="ch-input-block__label ch-input-block__label_radio ch-input-block__label_radio_active"><input type="radio" name=gender" id="gender-female" class="ch-form-input" /> Female</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="profile-form__section">
        <div class="ch-section">
            <h1 class="ch-section__header">Contact information</h1>
            <div class="ch-section__content">
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="search-address" class="ch-input-block__label">Search Address</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="search-address" id="search-address" class="ch-form-input ch-form-input_search" placeholder="Search Address" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="street" class="ch-input-block__label">Street Address</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="street" id="street" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="city" class="ch-input-block__label">City</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="city" id="city" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="state" class="ch-input-block__label">State</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="state" id="state" class="ch-form-input ch-form-input_drop-down" placeholder=" " />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="zip" class="ch-input-block__label">Zip</label>
                            <div class="ch-input-block__form-input ch-input-block__form-input_4dig">
                                <input type="text" name="zip" id="zip" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="email" class="ch-input-block__label">Email Address</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="email" id="email" class="ch-form-input" />
                            </div>
                            <div class="ch-input-block__btn">
                                <button type="button" class="ch-plane-btn ch-plane-btn_primary">Add Email Address</button>
                            </div>
                        </div>
                    </div>
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="telephone" class="ch-input-block__label">Telephone</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="telephone" id="telephone" class="ch-form-input" />
                            </div>
                            <div class="ch-input-block__btn">
                                <button type="button" class="ch-plane-btn ch-plane-btn_primary">Add Telephone</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="profile-form__section">
        <div class="ch-section">
            <h1 class="ch-section__header">Change password</h1>
            <div class="ch-section__content">
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="old-pass" class="ch-input-block__label">Old Password</label>
                            <div class="ch-input-block__form-input ch-input-block__form-input_half-width">
                                <input type="text" name="old-pass" id="old-pass" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch-flex-row">
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="new-pass" class="ch-input-block__label">New Password</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="new-pass" id="new-pass" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                    <div class="ch-flex-row__input-block">
                        <div class="ch-input-block">
                            <label for="confirm-pass" class="ch-input-block__label">Confirm New Password</label>
                            <div class="ch-input-block__form-input">
                                <input type="text" name="confirm-pass" id="confirm-pass" class="ch-form-input" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
