span.set-btn {
    display: inline-block;
    width: 23px;
    height: 24px;
    background: url("../images/icon-c_small.png") no-repeat center;
    float: right;
    cursor: pointer;
}
.set-btn-container {
  padding-top: 4px;
}
.widget-btn-container {
  text-align: center;
  button {
    text-transform: uppercase;
    position: absolute;
    bottom: 12px;
    left: 35%;
    font-weight: 500 !important;
  }
}
.blue-border { border: 1px solid $blue !important; }
.orange-border { border: 1px solid $orange !important; }
.pos-4 {
  position: relative;
  top: -4px;
}

.btn {
    outline: 0;
}

.btn-customize {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 30px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background: $white-trans;
    border: 1px solid $lightgrey-border;
    white-space: nowrap;
    padding: 6px 30px 6px 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.428571429;
    border-radius: 2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $lightgrey-text;
}
.btn-customize-standard {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background: $white-trans;
    border: 1px solid $lightgrey-border;
    white-space: nowrap;
    padding: 6px 24px 6px 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.428571429;
    border-radius: 2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $lightgrey-text;
}
.btn-customize-dropdown {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background: $white-trans;
    border: 1px solid $lightgrey-border;
    white-space: nowrap;
    padding: 6px 30px 6px 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.428571429;
    @include border-radius(4px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $grey-dark;
}
.btn-switch-container {
  span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: $grey-dark;
  }
}

.btn-submit-action-green {
    display: inline-block;
    color: #fff;
    background: $active-color;
    border-radius: 2em;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 6px 30px 6px 35px;
    border: none;
    margin-right: 10px;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
}

.btn-cancel {
    display: inline-block;
    color: #6f7c82;
    background: #fff;
    border-radius: 2em;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 5px 18px;
    border: 1px solid #d5d7dc;
    margin-right: 10px;
}

.cws-btn {
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 100px;
    border: 1px solid #d5d7dc;
    color: #6f7c82;
}

.cws-btn.cws-btn_green {
    background: #8dc73f;
    border: 1px solid #8dc73f;
    color: #fff;
}
