.contact-information-widget {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;

    .search-contact-area {
        margin-bottom: 15px;

        .search-contact-map-screen {
            margin-top: 15px;
        }
    }

    .search-contact-field {
        display: flex;

        .search-controls-pane .cws-btn {
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            padding: 6px 17px;

        }

        .search-contact-field-input-container {
            position: relative;
            flex: 1 0 auto;
            max-width: 100%;
            margin-right: 10px;

            .search-contact-input {
                width: 100%;
                border: 1px solid #d5d7dc;
                padding: 6px 12px;
            }

            .icon {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 42px;
                pointer-events: none;
            }

            .icon:before {
                content: '\0020';
                background: url("../images/icon-s_dark.png") no-repeat center;
                width: 14px;
                height: 14px;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 0;
                width: 100%;
                margin-top: -7px;

            }
        }

        .cws-btn_icon {
            .icon {
                margin-right: 8px;
            }
        }
    }

    .contact-info-street-num-field {
        width: 30%;
        padding-right: 26px;
        margin-right: 0;
    }

    .contact-info-street-name-field {
        width: 55%;
        padding-right: 26px;
        margin-right: 0;
    }

    .contact-info-apt-num-field {
        width: 15%;
    }

}

.accordion-service-info-field {
    float: right;
    position: relative;
}

.process-succeed {
    color: #70af44;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 28px;
}

.process-succeed:before {
    content: '\0020';
    position: absolute;
    left: 0;
    top: -1px;
    background-image: url(../images/global.png);
    background-position: -95px -150px;
    width: 18px;
    height: 18px;
}

.contact-information-widget:after {
    content: '\0020';
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -30px;
    border-bottom: 1px solid #e7e8ec;
}
