.cws-datepicker {
    .glyphicon {
        display: inline-block;
    }
    .glyphicon-calendar:before {
        content: 'x';
        display: block;
        background: url(../images/icon-datepicker-btn.png) 0 0 no-repeat;
        width: 16px;
        height: 16px;
        color: rgba(255, 255, 255, 0);
    }

    .input-group-btn button {
        border-radius: 0;
    }

}



.uib-datepicker-popup, .datetime-picker-dropdown {
    .uib-datepicker {
        tbody td button.btn.btn-default {
            border: none;
            color: #593442;
            font-weight: 600;

            .text-muted {
                color: #a6aab5;
            }

            &.btn-info.active {
                background-color: #31b0d5;
            }
        }

        table thead tr:first-child th {
            padding: 15px 0;
            background: #595c65;

            .uib-left, .uib-right {
                border-radius: 60px;
                width: 18px;
                height: 18px;
                padding: 0;
                background: #595c65;
                border: 1px solid #878b95;

                .glyphicon {
                    left: 0;
                    color: #878b95 !important;
                    font-size: 10px;
                    top: 0;
                }
            }

            .uib-left {
                margin-left: 10px;
            }
            .uib-right {
                margin-right: 10px;
            }

            .uib-title {
                border: 1px solid #878b95;
                border-radius: 20px;
                background: #595c65;
                color: #fff;
                font-size: 14px;

                strong {
                    font-weight: normal;
                }

            }
        }

        table.uib-daypicker thead tr:last-child th {
            padding: 16px 9px 2px;


            small {
                font-size: 12px;
                font-weight: normal;
                color: #593442;
                text-transform: uppercase;
            }

            [aria-label="Saturday"], [aria-label="Sunday"] {
                color: #f4ad49;
            }
        }

        .uib-day {
            padding: 2px;
        }

        .uib-month, .uib-year {
            padding: 4px;
        }

    }
}



.uib-datepicker-popup.dropdown-menu,
.datetime-picker-dropdown.dropdown-menu {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 1px 2px #d5d6db;
}
