.dropdown-list {
  width: 250px;
  background: #fff;
  box-shadow: $shadow;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  z-index: 3000;

  -webkit-transition: display ease-in-out 0.15s;
  -o-transition: display ease-in-out 0.15s;
  transition: display ease-in-out 0.15s;

  & > div:last-child {
    margin-bottom: 0;
  }
  & > p {
    text-align: center;
    text-transform: none;
    font-weight: bold;
    color: $lightgrey-text;
  }
  .participant-container {
    background: #fff;
    border: 1px solid $grey-ultra;
    cursor: pointer;
    &:hover {
      background: $textarea;
      border: 1px solid $blue-border;

      -webkit-box-shadow: $shadow;
      box-shadow: $shadow;

      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.15s ;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.15s;
    }
    p {
      text-transform: none;
      white-space: normal;
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h3 {
      margin: 0 5px 0 0;
      padding: 5px 0 5px 0;
      font-size: 14px;
    }
    .participant-image {
      width: 50px;
      height: 50px;
    }
    .badge {
      background: $blue;
    }
  }
  .participant-info {
    padding-left: 15px;
    width: 150px;
    span {
      white-space: nowrap;
    }
  }
}
.dropdown-list:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 15px 20px;
  border-color: transparent transparent #ffffff transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #ffffff #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: absolute;
  top: -10px;
}

//////// new styleguide dropdown group /////////////////

.btn-dropdown-block {
  position: relative;
  padding-right: 25px;
  .contact-participant-add .dropdown-list {
    right: 0px;
    top: 17px;
  }
  .btn-dropdown-position {
    position: absolute;
    right: 28px;
    top: -67px;
  }
  .btn-dropdown-position ~ .contact-participant-add {
    .dropdown-list {
      top: -50px;
    }
  }
}

.button-dropdown-group {
    position: relative;
    width: 210px;
    .button-clear {
      padding: 5px 15px;
      border-radius: 25px;
      font-size: 1.4rem;
      font-weight: 500;
      cursor: pointer;
      background: #fff;
      outline: 0px;
      &:hover {
          color: #fff;
      }
    }
    .button-light-green {
      border: 1px solid $primary-color;
      color: $primary-color;
      &:hover {
        background: $active-color;
        border: 1px solid $active-color;
      }
    }
    .button-fill-green {
      border: 1px solid $primary-color;
      background: $primary-color;
      width: 100%;
      color: #fff;
      &:hover {
        background: $secondary-color;
        border: 1px solid $secondary-color;
      }
    }
}
.dropdown-group-pane {
  position: absolute;
  top: 45px;
  z-index: 1000;
}
.dropdown-group {
    border: 1px solid $border-color;
    display: inline-block;
    position: relative;
    &:after,
    &:before {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid $main-bg-color;
      top: -12px;
      content: '';
      left: 35px;
      margin-left: -12px;
      position: absolute;
    }
    &:before {
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-bottom: 13px solid;
      border-bottom-color: inherit;
      top: -13px;
      margin-left: -13px;
    }
    .dropdown-group-heading {
      padding: 15px 18px;
      background: $main-bg-color;
      border-bottom: 1px solid $border-color;
      .secondary-text {
        display: block;
        margin-top: 15px;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        color: $dark-bg;
      }
    }
}
.dropdown-group-content li:last-child {
    border-bottom: 1px solid #fff;
}
.dropdown-list-item {
  li {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid $border-color;
    &:hover {
        border: 1px solid $primary-color;
        -webkit-box-shadow: $shadow-color;
        box-shadow: $shadow-color;
        -webkit-transition: box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
        -o-transition: box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
        transition: box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
    }
  }
}
