input[type = "checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;
}
label.checkbox-label,
label.select-label {
  font-size: 13px;
  font-weight: 500;
  color: $grey-dark;
  margin: 0 0 0 10px;
  text-transform: none;
  position: relative;
  top: -4px;
}
label.checkbox-label { width: 170px;}
div.flex-child label.checkbox-label {
  max-width: 105px;
  margin: 0 0 0 1px;
}
select.default-item {
  outline : 0px !important;
  background: #fff url(../images/arrow_list.png) no-repeat right !important;
  width: 100%;
  height: 34px;
  border: 1px solid $grey-border;
  color: $grey-dark;
  padding: 0 40px 0 7px;
  box-sizing: border-box;
  opacity: 1;
  filter: alpha(Opacity=1); /* Opacity in IE */
  -webkit-appearance: none;
  -moz-appearance:none;
  -o-appearance:none;
  appearance:none;
  text-indent: 1px;
  text-overflow: '';
  filter: chroma(color=#000000);
  white-space: nowrap;
  border-collapse: collapse;
  list-style: none;
}
option.option-default {
  padding: 9px 0 0 14px;
  height: 38px;
  border-radius: 4px;
  background: $greyb;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
}
.flex-none { flex: none;}
.flex-child { flex: 1;}
.flex-child-2 { flex: 2;}
.form-control_m {
  height: 35px;
  display: inline-block;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  @include form-control-focus;
  @include placeholder;
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

.adjust-form-elements .input-group .form-control.zip-code {
    height: 2.5em;
    padding: 0.429em 0.857em;
    width: 4.8em;
}
.adjust-form-elements .input-group .form-control.zip-ext {
    width: 4.3em;
}

.adjust-form-elements .input-group,
.adjust-form-elements .input-group-select {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 26px;
}

.adjust-form-elements .flex-row .input-group:last-child,
.adjust-form-elements .flex-row .input-group-select:last-child {
    margin-right: 0;
}

.adjust-form-elements .input-group .form-control {
    border-radius: 0;
    margin-right: 10px;
}

.adjust-form-elements .input-group-select .form-control {
    margin-right: 0;
}

.adjust-form-elements .label-up label {
    display: block;
}

.adjust-form-elements .communication-radio-group {
    label {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
        cursor: pointer;
    }
    input[type="radio"] {
        margin-top: 0;
        margin-right: 3px;
        display: inline-block;
        vertical-align: -5px;
        cursor: pointer;
    }
}

.adjust-form-elements .communication-radio-group > label {
    display: block;
}

.adjust-form-elements .input-group.input-group-checkbox {
    position: relative;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 14px;
    line-height: 17px;
    min-width: 17px;
    margin-top: 5px;

    input[type=checkbox] {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        outline: 0;
        z-index: 3;
        width: 17px;
        height: 17px;
    }

    label {
        position: relative;
        display: block;
        padding-left: 32px;
        padding-top: 1px;
        outline: 0;
        font-size: 14px;
        color: #434345;
        text-transform: none;

    }

    input:checked~label:before {
        background: #fff;
        border-color: rgba(34, 36, 38, .35);
    }

    label:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
        background: #fff;
        border-radius: 0;
        -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,box-shadow .1s ease;
        transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
        border: 1px solid #d5d7dc;
    }

    input:checked~label:after {
        content: '';
        display: inline-block;
        width: 11px;
        height: 8px;
        background: url("../images/new-icon/check.png") no-repeat center;
        position: absolute;
        top: 6px;
        left: 4px;
        opacity: 1;
    }

    label:after {
        position: absolute;
        font-size: 12px;
        top: 1px;
        left: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        opacity: 0;
        color: #8dc73f;
        -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,box-shadow .1s ease;
        transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
        font-family: 'Glyphicons Halflings';
    }

    .hidden {
        z-index: -1;
    }
}

.btn.btn-transparent-green {
    background: #fff;
    border: 1px solid #70af44;
    color: #70af44;
    font-size: 14px;
    padding: 4px 16px;
    font-weight: 400;
    line-height: 1.428571429;
    border-radius: 2em;
}

.adjust-form-elements .input-date {;

    .input-group-btn {
        vertical-align: bottom;

        .glyphicon {
            color: #595c65 !important;
            left: 0;
        }
    }
}

.tab-body .tab-conditional-aside .input-group-btn .btn.btn-default {
    border-color: #ccc;
}

.input-date.input-date-25 {
    width: 25%;
}

.cws-meta-tag {
    display: inline-block;
    background: #595c65;
    padding: 0.6rem 1.1rem 0.6rem 1.6rem;
    border-radius: 2em;
    font-weight: 400;
    line-height: 1.428571429;
    font-size: 14px;

    .cws-meta-tag__text {
        display: inline-block;
        padding-right: 4px;
        color: #fff;

    }

    .cws-meta-tag__dismiss-btn {
        display: inline-block;
        margin: 0;
        padding: 4px;
        width: 16px;
        height: 16px;
        border: none;
        background: url("../images/icon-closed-mark.png") no-repeat center;
    }
}


.cws-secondary-tab-pane {
    display: table;
    width: 100%;
    text-align: center;

    .cws-secondary-tab-pane__item {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 1%;
    }

    .cws-secondary-tab-pane__item:first-child .cws-secondary-tab-pane__btn {
        border-left: 1px solid #d5d7dc;
        border-radius: 100rem 0 0 100rem;
    }

    .cws-secondary-tab-pane__item:last-child .cws-secondary-tab-pane__btn {
        border-radius: 0 100rem 100rem 0;
    }

    .cws-secondary-tab-pane__btn {
        width: 100%;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: #838d93;
        padding: 0.4rem 2rem;
        background: #e7e8ec;
        border: solid #d5d7dc;
        border-width: 1px 1px 1px 0;
        text-decoration: none;
        min-width: 100px;
    }

    .cws-secondary-tab-pane__btn.cws-secondary-tab-pane__btn_active {
        background: #fff;
        border: 1px solid #8dc73f;
        color: #6bad46;
    }

    .cws-secondary-tab-pane__item:first-child .cws-secondary-tab-pane__btn_active {
        border-left: 1px solid #8dc73f;
    }

    .cws-secondary-tab-pane__btn.cws-secondary-tab-pane__btn_active-transparent {
        background: transparent;
        border: 1px solid #70af44;
        color: #70af44;
    }

    .cws-secondary-tab-pane__item:first-child .cws-secondary-tab-pane__btn_active-transparent {
        border-left: 1px solid #70af44;
    }
}

.cws-option-btn {
    padding: 0.6rem 1.5rem;
    border: 1px solid #d5d7dc;
    font-size: 14px;
    font-weight: 400;
    color: #4e515e;
    border-radius: 100rem;
    background: #fff;
    min-width: 90px;
}


.cws-option-btn.cws-option-btn_add-plus {
    .cws-option-btn__icon {
        vertical-align: -4px;
        margin-right: 5px;
    }
}

.cws-option-btn.cws-option-btn_transparent-green {
    border: 1px solid #8dc73f;
    background: transparent;

    .cws-option-btn__text {
        color: #6bad46;
    }
}

.cws-option-btn.cws-option-btn_primary {
    border: none;
    background: #70af44;

    .cws-option-btn__text {
        color: #fff;
    }
}

.cws-search-field {
    position: relative;
    display: inline-block;
    width: 100%;

    .cws-search-field__search-input {
        display: inline-block;
        width: 100%;
        border: 1px solid #ceced3;
        padding: 0.8rem 1.5rem;
        font-size: 14px;
        font-weight: 400;
    }

    .cws-search-field__search-icon {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 1.1rem;
        text-align: center;
    }

    .icon-search-field {
        pointer-events: none;
    }

}

.cws-general-tooltip {
    .tooltip-inner {
        background: #595c65;
        max-width: 400px;
    }
}

.cws-general-tooltip.tooltip.top {
    opacity: 1;
    z-index: 130000;

    .tooltip-arrow {
        border-top-color: #595c65;
    }
}
