.investigation-safety-tab {
    .tab-header-breadcrumb h2 {
        color: #70af44;
        text-transform: uppercase;
    }

    .tab-header-controls-wrapper .btn-transparent-green {
        padding: 6px 30px 6px 35px;
        margin-right: 10px;
        vertical-align: top;
    }

    .tab-header-controls-wrapper .btn-cancel {
        vertical-align: top;
    }
}

.cws-card-safety-plan-description {
    float: left;
    width: 80%;
    line-height: 21px;
}

.cws-general-card-list {
    .cws-general-card-list__item {
        padding: 12px 20px;
        background: #fff;
        border-top: 2px solid #c4c7ce;
        margin-bottom: 10px;
        box-shadow: 0 1px 2px #d5d6db;
    }
    .cws-general-card-list__item:hover {
        border-top: 2px solid #8dc73f;
    }
}

.cws-card-status-line {
    .cws-card-status-line__term-item,
    .cws-card-status-line__desc-item {
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f7c82;
        margin-right: 5px;
    }

    .cws-card-status-line__desc-item.cws-card-status-line__desc-item_positive-status {
        color: #58b8d2;
    }

    .cws-card-status-line__desc-item.cws-card-status-line__desc-item_negative-status {
        color: #dc7d64;
    }
}

.cws-card-status-line-desc-divider {
    display: inline-block;
    color: #a6aab5;
    margin-left: 3px;
    vertical-align: 1px;
}

.cws-card-item-options-pane {
    float: right;

    .cws-card-item-options-pane-controls {
        padding: 10px 0 0;
    }
    .cws-card-item-options-pane-controls a {
        margin-left: 12px;
        vertical-align: middle;
    }
}

.cws-form-frame {
    background: #fff;
    padding: 30px 20px 10px;
    border-bottom: 1px solid #e7e8ec;

    .cws-form-frame__heading {
        font-size: 14px;
        font-weight: 400;
        color: #313135;
        text-transform: uppercase;
        margin: 0 0 15px;
    }

    .cws-form-frame__label:first-child {
        margin-bottom: 6px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f7c82;
    }
}

.cws-form-frame.cws-form-frame_with-controls {
    padding-bottom: 30px;
}

.cws-form-frame__include-inner {
    border: 1px solid #d5d7dc;
    background: #eff0f2;
    margin-bottom: 20px;
}

.cws-inner-form-frame {
    padding: 30px 20px 10px;
    border-bottom: 1px solid #d5d7dc;
    position: relative;

    .cws-inner-form-frame__heading {
        font-size: 14px;
        font-wight: 400px;
        margin: 0 0 25px;
        color: #313135;
    }

    .cws-inner-form-frame__heading.cws-inner-form-frame__heading_uppercase {
        text-transform: uppercase;
    }

    .cws-inner-form-frame__controls-pane {
        position: absolute;
        width: 30%;
        top: 20px;
        right: 20px;
        text-align: right;
    }

    .cws-inner-form-frame__controls-pane-el {
        display: inline-block;
        margin-left: 4px;
    }


    .associated-services-pane, .contact-participant-pane {
        padding: 0;
    }

    .button-dropdown-group {
        width: auto;
    }

    .cws-inner-form-frame__inner-service.cws-inner-form-frame__inner-service_left .button-accordion-tab.button-dropdown-group {
        right: 150px;
        top: 15px;
    }

    .cws-inner-form-frame__inner-service.cws-inner-form-frame__inner-service_right .button-accordion-tab.button-dropdown-group {
        right: 25px;
        top: 15px;
    }

    .cws-inner-form-frame__date-input {
        width: 155px;

        .form-control {
            background: #fff;
            border-right: 0;
        }

        .input-group-btn button {
            border-left: none;
            box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.075);
        }
    }

    .cws-inner-form-frame__btn-group {
        max-width: 480px;
        margin-bottom: 20px;
    }

    .cws-form-frame__label-inline:first-child {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f7c82;
        margin-right: 5px;
    }

    .cws-form-frame__label-ending {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f7c82;

    }

    .cws-inner-form-frame__dates {
        margin-bottom: 15px;
    }

    .cws-form-frame__days-input {
        display: inline-block;
        width: 65px;
        padding: 7px 8px;
        border: 1px solid #d5d7dc;
        margin-right: 5px;
    }

    .cws-inner-form-frame__switch {
        margin-bottom: 20px;

        .cws-switcher-block__label {
            margin-left: 6px;
            vertical-align: -1px;
        }
    }

    .cws-form-frame__select-input-yearly {
        width: 125px;
        vertical-align: middle;
        margin-right: 5px;
    }

    .cws-form-frame__checkbox-input-container {
        display: inline-block;
        padding-right: 20px;
        width: 35%;
    }

    .cws-form-frame__checkbox-input-container label {
        font-weight: 400;
    }

}

.cws-inner-form-frame:last-child {
    border: none;
}

