.cws-modal-close-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/new-icon/close.png") no-repeat center;
    position: absolute;
    top: 16px;
    right: 20px;
    opacity: 1;
    border: none;
}

.cws-modal-title {
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: $open-sans;
    background: $modal-title-color;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    line-height: 1.428571429;
}

.cws-modal-controls {
    padding: 20px 21px 15px;
    border-top: 1px solid #e7e8ec;
}
