.narrative-widget {
    width: 25%;
    float: left;
    border-left: 1px solid #d5d7dc;

    .ace_editor {
        height: 450px;
    }
}

.narrative-heading-text {
    display: inline-block;
    color: #6f7c82;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 17px;
    text-transform: uppercase;
}

.narrative-controls-pane {
    float: right;
}

.narrative-gear-btn, .narrative-fullscreen-btn, .narrative-pane-visibility-btn, .narrative-add-template-btn {
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}
.narrative-gear-btn,
.narrative-add-template-btn {
    padding-right: 5px;
}


.narrative-pane-visibility-btn {
    padding-left: 0;
}

.narrative-pane-visibility-btn:hover,
.narrative-fullscreen-btn:hover,
.narrative-pane-visibility-btn:focus,
.narrative-fullscreen-btn:focus {
    text-decoration: none;
}
.narrative-pane-visibility-btn:focus,
.narrative-fullscreen-btn:focus {
    color: #5bbaee;
}

.fullscreen-is-active {
    width: 100%;
}

.narrative-fullscreen-transition.fullscreen-is-active {
    width: 95%;
    height: 100%;
    position: fixed;
    z-index: 200;
    left: 97px;
    background: #eff0f2;

}

.narrative-container {
    position: relative;
    padding: 20px 20px 20px 15px;
    .sm-header-container {
        padding: 0 0px 0px 10px;
    }

    //.ui-select-bootstrap > .ui-select-match > .btn.form-control {
    //    border: none;
    //    background: transparent;
    //    box-shadow: none;
    //    padding: 6px 18px;
    //
    //    .ui-select-placeholder {
    //        font-size: 14px;
    //        color: #313135;
    //    }
    //}
    //
    //.ui-select-bootstrap.ng-dirty > .ui-select-match > .btn.form-control {
    //    border: 1px solid #ccc;
    //    background: #fff;
    //    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    //}
    //
    //
    //.ui-select-bootstrap .ui-select-toggle > .caret {
    //    float: left !important;
    //    background-image: url(../images/icon-add-plus.png);
    //    background-position: 0 0;
    //    width: 20px;
    //    height: 20px;
    //    border: none;
    //    position: static;
    //    top: auto;
    //    right: auto;
    //    margin: -2px 10px 0 0;
    //}
    //
    //.ui-select-bootstrap.ng-dirty .ui-select-toggle > .caret {
    //    float: right !important;
    //    position: absolute;
    //    width: 0;
    //    height: 10px;
    //    top: 50%;
    //    right: 10px;
    //    margin-top: -2px;
    //    border-top: 4px dashed;
    //    border-right: 4px solid transparent;
    //    border-left: 4px solid transparent;
    //    background-image: none;
    //    background-position: 0 0;
    //}

}
.textarea-wrapper {
    .textarea {
        width: 100%;
        background: #fff;
        margin-bottom: 20px;
        border: 1px solid #d5d7dc;
        ol {
            margin: 0;
            padding: 15px;
            li {
                padding-bottom: 7px;
            }
        }
    }
}
.textarea-wrapper textarea {
    width: 100%;
    height: 150px !important;
    border: none;
    padding: 25px 20px;
    font-size: 14px !important;
    color: $grey-dark;
    background: #fff;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $grey-dark;
        padding: 5px 15px 10px 5px;
        text-align: left;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $grey-dark;
        padding: 5px 15px 10px 5px;
        opacity:  1;
        text-align: left;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $grey-dark;
        padding: 5px 15px 10px 5px;
        opacity:  1;
        text-align: left;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $grey-dark;
        padding: 5px 15px 10px 5px;
        text-align: left;
    }
    &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color: $grey-dark;
        padding: 5px 15px 10px 5px;
        text-align: left;
    }
}

.narrative-template-options label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #455a65;
    text-transform: uppercase;
    margin-bottom: 10px;
    white-space: nowrap;
}

.narrative-collapsed .referral-tabs-container {
    width: 98%;
}

.narrative-collapsed .narrative-widget {
    width: 2%;
}

.narrative-expand-btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

.narrative-minified {
    display: none;
    height: calc(100vh - 85px);
}

.narrative-expand-heading-wrapper {
    transform: rotate(-90deg);
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #5d6069;
    font-size: 14px;

    .narrative-expand-heading {
        position: relative;
    }
    .glyphicon {
        position: absolute;
        right: -25px;
        left: auto;
        color: #70af44;
    }
}

.narrative-sticky {
    right: 0;
    background: #e7e8ec;
}

.narrative-normal .narrative-unsticky {
    width: 25% !important;
}

.narrative-container .ui-select-bootstrap .ui-select-toggle,
.narrative-container .popover,
.narrative-container .ui-select-search {
    border-radius: 0;
}
.narrative-container .ui-select-search,
.narrative-container .ui-select-toggle {
    min-width: 250px;
}

