.panel-tab-content {
  .current-panel {
    .textarea-wrapper {
      padding: 0px;
    }
  }
}
.current-report,
.current-participants,
.current-panel,
.current-allegations,
.current-information{
  h3 {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: 15px;
    border-radius: 4px;
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
    color: $grey-dark;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p, label {
    font-size: 14px;
    font-weight: 500;
    color: $grey-dark;
    text-transform: uppercase;
    margin-bottom: 10px;
    white-space: nowrap;
  }
}

.div-border {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  width: 100%;
  background: $blue-light;
}
.similar-report,
.addresses-participants {
  & > div:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 20px;
  }
  .sm-header-container {
    padding: 10px 0px 10px 10px;
    p {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 15px;
      font-weight: 600;
      color: $grey-dark;
    }
  }
}
.reporters-container,
.addresses-container {
  box-shadow: $shadow;
  border-radius: 4px;
  background: #fff;
  padding: 20px;
  color: $grey-dark;
  h4 {
    font-weight: 600;
  }
  a {
    position: relative;
    top: -23px;
    right: 8px;
  }
  p + p {
    margin: 0px;
  }
}

//uib-accordion component customization

.panel-default > .panel-heading {
    background: #fff;
    border-bottom: 1px solid #e7e8ec;
}

.panel-heading + .panel-collapse > .panel-body {
     background: #fff;
}

.panel-heading {
    padding: 0;
}

.panel-heading .panel-title a {
    width: 100%;
    display: inline-block;
    padding: 16px 18px 16px 34px;
    text-decoration: none;
}

.panel-heading .panel-title a .icon {
    left: -12px;
    position: relative;
    vertical-align: 2px;
}

.current-report h4, .current-participants h4, .current-panel h4, .current-allegations h4, .current-information h4 {
    font-size: 14px;
    font-weight: 600;
    color: #455a65;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.referral-tabs-container {
    .panel-body {
        padding: 30px 30px 20px 20px;
    }

    .panel-group .panel-heading + .panel-collapse > .panel-body {
        border: none;
    }
    .panel-group .panel {
        border-radius: 0;
        margin-bottom: 10px;
        border-width: 2px 0 0;
        border-color: #c4c7ce;
        box-shadow: 0 0 2px #d5d6db;
    }
    .panel-group .panel.panel-open {
        border-color: #8dc73f;

        .accordion-toggle .glyphicon {
            color: #8dc73f;
        }
    }
}

.tab-main-content-area .panel-heading .panel-title a {
    padding-right: 30px;
}
