.tabs-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background-color: #e7e8ec;
  overflow-y: visible;

    .tab-body {
        padding: 20px 25px 20px 30px;

        .tab-main-content-area {
            width: 70%;
            float: left;
            padding-right: 15px;
        }

        .tab-main-content-area.tab-main-content-area_full-width {
            width: 100%;
        }

        .tab-conditional-aside {
            width: 30%;
            float: left;
            padding-left: 15px;
        }
    }

    .tab-header {
        display: table;
        width: 100%;
        padding: 17px 25px 18px 30px;
        background: #fff;
        border: 1px solid #d5d7dc;
        border-width: 1px 0 1px;

        .tab-header-breadcrumb {
            display: table-cell;
            vertical-align: middle;
        }

        .tab-header-breadcrumb.cws-nav-history {
            h2 {
                text-transform: none;
                color: #313135;
            }
            h3 {
                color: #70af44;
            }

            .breadcrumb-separator {
                display: inline-block;
                width: 6px;
                height: 10px;
                margin-right: 9px;
                background: url("../images/new-icon/icon-arrow-right.png") no-repeat center;
            }

            .breadcrumb-hint {
                font-size: 14px;
                font-weight: normal;
                text-transform: none;
                color: #a6aab5;
                padding: 0 9px;
            }
        }

        h2, h3 {
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            color: #70af44;
            text-transform: uppercase;
            margin: 0;
            padding-right: 9px;
        }

        .tab-header-controls-pane {
            display: table-cell;
            vertical-align: middle;

            .tab-header-controls-wrapper {
                float: right;

                .btn-customize {
                  padding: 5px 18px;
                  border: 1px solid $border-color;
                }
                .btn-submit-action-green {
                  padding: 5px 18px;
                  border: 1px solid $active-color;
                  &:hover {
                    border: 1px solid $primary-color;
                  }
                }

                .cws-switcher-block:last-child {
                    padding: 0;
                }
            }

        }
    }

    .tab-header.tab-header-sticky {
        border-top: none;
    }

    .tab-header.tab-header-unsticky {
        width: 100% !important;
    }
}
.referral-tabs-container {
    width: 75%;
    float: left;
}

.tabs-container {
    padding-top: 10px;
    position: relative;
    z-index: 100;
    .nav-tabs {
        border: none;
    }
    .nav {
        padding-left: 25px;
        li {
            a {
                text-transform: uppercase;
                font-size: 1.6rem;
                color: $text-secondary-color;
                padding: 15px 25px;
                border-radius: 0;
                border-top: 2px solid $main-bg-color;
                &:focus {
                    background-color: inherit;
                }
                &:hover {
                  border-top: 2px solid $primary-color;
                  background: #fff;
                }
            }
        }
        li.active a {
            color: $text-primary-color;
            border-top: 2px solid $primary-color;
            border-left: 0;
            border-right: 0;
            font-weight: 500;
            background: #fff;
        }
    }
}

.tabs-content-wrapper {
    background: #fff;
    h3 {
        font-size: 1.6rem;
        color: $text-secondary-color;
        span.label {
            color: #fff;
            border-radius: 1.25em;
            padding: 0.5em 0.8em 0.3em;
            margin-right: 1em;
        }
    }
}
.tabs-content-header {
    height: 75px;
}

.tab-body .tab-conditional-aside {

    .btn.btn-default {
        background: #fff;
        border: 1px solid #70af44;
        color: #70af44;
    }

    .panel-group .panel.panel-default{
        border-width: 0;

        .panel-heading {
            background: #595c65;
            border-radius: 0;
        }

        .panel-heading .panel-title a .glyphicon,
        .panel-heading .panel-title a {
            color: #fff;
        }
    }

    .panel-group .panel.panel-open {
        .panel-heading {
            background: #fff;
            border-radius: 0;
        }

        .panel-heading .panel-title a .glyphicon {
            color: #8dc73f;
        }
        .panel-heading .panel-title a {
            color: #313135;
        }

    }

}
