.widget-tasks-list {
  width: 100%;
  h3 {
    font-size: 1.3rem;
    color: $darkgrey-text;
    margin-bottom: 2px;
    font-weight: 600;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: $text-secondary-color;
  }
  li {
    border-bottom: 1px solid $border-color;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.widget-tasks-list.adjust-form-elements .input-group.input-group-checkbox {
  margin-top: 10px;
}
.photo-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: left;
}
span.ellipse-o,
span.ellipse-b,
span.ellipse-v {
  display: inline-block;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  border-radius: 8px;
  position: relative;
  top: -1px;
}
span.ellipse-o { background: $warning; }
span.ellipse-b {background: url("../images/ellipse-b.png") no-repeat center; }
span.ellipse-v {background: url("../images/ellipse-v.png") no-repeat center; }

span.icon-plus-btn,
span.icon-eye-btn,
span.icon-num-btn,
span.icon-info,
span.status-unknown {
  display: inline-block;
}

span.icon-plus-btn {
  position: relative;
  top: 2px;
  left: -12px;
  width: 14px;
  height: 14px;
  background: url("../images/icon-plus_small.png") no-repeat center;
}
span.icon-eye-btn {
  position: relative;
  top: 1px;
  left: -12px;
  width: 14px;
  height: 14px;
  background: url("../images/icon-look.png") no-repeat center;
}
span.icon-num-btn {
  position: relative;
  top: 1px;
  left: -12px;
  width: 12px;
  height: 12px;
  background: url("../images/icon-keypad.png") no-repeat center;
}
span.icon-info {
  position: absolute;;
  top: 12px;
  right: 0px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: url("../images/icon-info.png") no-repeat center;
}
span.status-unknown,
span.status-inner,
span.status-outer {
  width: 13px;
  height: 13px;
  position: absolute;
  right: -4px;
}
span.status-unknown { background: url("../images/unknown.png") no-repeat center;}
span.status-inner { background: url("../images/inner.png") no-repeat center;}
span.status-outer { background: url("../images/outer.png") no-repeat center;}
