body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-380px;
  width:440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:253px;
}
#u132 {
  position:absolute;
  left:380px;
  top:245px;
  width:440px;
  height:249px;
  opacity:0.7;
}
#u133 {
  position:absolute;
  left:2px;
  top:116px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:33px;
}
#u134 {
  position:absolute;
  left:513px;
  top:361px;
  width:174px;
  height:33px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
}
#u136 {
  position:absolute;
  left:410px;
  top:515px;
  width:380px;
  height:40px;
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u136_img.mouseOver {
  width:384px;
  height:44px;
}
#u136.mouseOver {
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u138 {
  position:absolute;
  left:575px;
  top:288px;
  width:50px;
  height:50px;
}
#u139 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
}
#u140 {
  position:absolute;
  left:495px;
  top:413px;
  width:210px;
  height:38px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:66px;
}
#u142 {
  position:absolute;
  left:501px;
  top:138px;
  width:198px;
  height:66px;
}
#u143 {
  position:absolute;
  left:2px;
  top:25px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:76px;
}
#u144 {
  position:absolute;
  left:488px;
  top:131px;
  width:224px;
  height:76px;
}
#u145 {
  position:absolute;
  left:2px;
  top:30px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
