.ch-aside-nav__action-btn {
    padding: 0 2rem 1rem 1.5rem;
}

.ch-aside-nav-list {
    margin-bottom: 1.5rem;
}

.ch-aside-nav-list__item {
    margin: 0 2.1rem 0 1.6rem;

    &:hover {
        background-color: #cbcdcf;
    }

}


.ch-aside-nav-item__link {
    width: 100%;
    line-height: 3.3rem;
    padding: 0 0 0 2.7rem;
    transition: none;
    position: relative;

    &:hover {
      .ch-aside-nav-item__text {
          color: #3e94cf;
      }
    }
}

.ch-aside-nav-item__link_icon_inbox:hover {
    &:before {
        background: url(../images/out-sprite-icons/icon-aside-inbox-hover.png) 0 0 no-repeat;
    }
}

.ch-aside-nav-item__link_icon_sent:hover {
    &:before {
        background: url(../images/out-sprite-icons/icon-sent-hover.png) 0 0 no-repeat;
    }
}

.ch-aside-nav-item__link_icon_drafts:hover {
    &:before {
        background: url(../images/out-sprite-icons/icon-drafts-hover.png) 0 0 no-repeat;
    }
}

.ch-aside-nav-item__link_icon_deleted:hover {
    &:before {
        background: url(../images/out-sprite-icons/icon-recycle-bin-hover.png) 0 0 no-repeat;
    }
}



.ch-aside-nav-item__link_active {
    border-left: 0.3rem solid #0071bc;

    .ch-aside-nav-item__text {
        color: #0071bc;
    }

    .ch-aside-nav-item__counter {
        color: #0071bc;
    }

}

.ch-aside-nav-item__link_icon {
    padding: 0 0 0 3rem;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon {
    padding: 0 0 0 2.7rem;
}

.ch-aside-nav-item__link_icon:before {
    content: '\0020';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.4rem;
    margin: auto 0;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon:before {
    left: 1.1rem;
}

.ch-aside-nav-item__link_icon_inbox:before {
    width: 16px;
    height: 16px;
    background: url(../images/out-sprite-icons/icon-aside-inbox.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_icon_sent:before {
    width: 16px;
    height: 12px;
    background: url(../images/out-sprite-icons/icon-sent.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_icon_drafts:before {
    width: 14px;
    height: 16px;
    background: url(../images/out-sprite-icons/icon-drafts.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_icon_deleted:before {
    width: 16px;
    height: 16px;
    background: url(../images/out-sprite-icons/icon-recycle-bin.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_inbox:before {
    background: url(../images/out-sprite-icons/icon-aside-inbox-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_sent:before {
    background: url(../images/out-sprite-icons/icon-sent-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_drafts:before {
    background: url(../images/out-sprite-icons/icon-drafts-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_deleted:before {
    background: url(../images/out-sprite-icons/icon-recycle-bin-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__counter {
    vertical-align: middle;
}

.ch-aside-nav-item__text {
    font-size: 1.4rem;
    font-weight: 600;
    color: #5b616b;
    vertical-align: middle;
    padding-left: 1.4rem;

    @media screen and (max-width: 640px) {
        font-size: 2.5rem;
    }
}
