.ch-facilities__item {
    padding: 1.9rem 3.2rem 2.4rem 2.5rem;
    border: 0.1rem solid #cbcdcf;
    border-top: none;
    background-color: #f1f1f1;
}

.ch-facility__header {
    padding-left: 3.9rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
}

.ch-facility__header:before {
    position: absolute;
    left: 0;
    height: 3.9rem;
    width: 2.6rem;
    top: 50%;
    margin-top: -2rem;
    content: "\0020";
    background: url("../images/out-sprite-icons/icon-map-sign-lg.png") no-repeat;
}

.ch-facility__tags {
    margin-bottom: 1.4rem;
}

.ch-facility-tags__tag {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.ch-facility-tags__tag:last-of-type {
    margin-right: 0;
}

.ch-facilities-tag {
    padding: 0.5rem 1rem 0.5rem 0.9rem;
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1rem;
    color: #ffffff;
    border-radius: 0.4rem;
}

.ch-facilities-tag_foster-family {
    background-color: #4e5664;
}

.ch-facilities-tag_status_green {
    background-color: #4aa564;
}

.ch-facilities-tag_status_red {
    background-color: #df4962;
}

.ch-facility__info {
    margin-bottom: 1.8rem;
}

.ch-facility-info__part {
    margin-bottom: 0.7rem;
}

.ch-facility-info__part:last-of-type {
    margin-bottom: 0;
}

.ch-facility-info-text {
    position: relative;
    color: #5b616b;
    font-size: 1.4rem;
    display: block;
    line-height: 2rem;
}

.ch-facility-info-text_mgb_10 {
    margin-bottom: 1.5rem;
}

.ch-facility-info__firm {
    text-transform: uppercase;
}

.ch-facilities-btn-group__btn {
    margin-right: 0.8rem;
    float: left;
}

.ch-facilities-btn-group__btn:last-of-type {
    margin-right: 0;
}

.ch-plane-btn {
    font-size: 1.4rem;
    text-transform: capitalize;
}


.ch-plane-btn_primary {
    padding: 0.8rem 1.8rem;
    border: 0.2rem solid #0071bc;
    border-radius: 0.4rem;
    color: #0071bc;
    background-color: #f1f1f1;
    font-weight: 700;
}

.ch-plane-btn_secondary {
    padding: 1rem;
    background-color: #f1f1f1;
    color: #5b616b;
    text-decoration: underline;
}
