.ch-contacts__heading {
    font-size: 1.4rem;
    color: #5b616b;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    padding-left: 2.7rem;
}

.ch-contact {
    line-height: 45px;
}

.ch-contact__link {
    width: 100%;
    line-height: 18px;
    vertical-align: middle;
    padding: .4rem 1rem .4rem 2.7rem;
    position: relative;

    .ch-contact__icon {
        display: none;
    }
}

.ch-contact__link:hover {
    background: #f1f1f1;

    .ch-contact__icon {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2.7rem;
        margin: auto 0;
    }
}

.ch-contact__name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.ch-contact__role {
    font-size: 1.2rem;
    font-weight: 600;
    color: #5b616b;
    text-transform: uppercase;
}

.ch-aside-contacts {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

.ch-aside-contacts__short {
    position: relative;
}

.ch-aside-contacts__short__arrow {
    position: absolute;
    display: inline-block;
    width: 1.8rem;
    height: 1.1rem;
    top: 2rem;
    right: 0px;
}

.ch-aside-contacts__short__arrow.down {
    background: url("../images/us-icon/arrow-down-small.svg") no-repeat center;
}

.ch-aside-contacts__short__arrow.up {
    background: url("../images/us-icon/arrow-up-small.svg") no-repeat center;
}

.ch-aside-contacts__item {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    border-bottom: .1rem solid #cbcdcf;
    cursor: pointer;

    &:hover {
        .ch-aside-contacts__person-name {
            color: #0071bc;
        }
    }
}

.ch-aside-contacts__image {
    float: left;
    width: 3.6rem;

    .icon {
        width: 3.6rem;
        height: 3.6rem;

        @media screen and (max-width: 640px) {
            height: 5.6rem;
        }
    }
}

.ch-aside-contacts__person {
    float: left;
    padding-left: .7rem;
    max-width: 11rem;

    @media screen and (max-width: 640px) {
        max-width: 18rem;
        padding-left: 1rem;
    }
}

.ch-aside-contacts__person-name {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: .3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (max-width: 640px) {
        font-size: 2.5rem;
    }
}

.ch-aside-contacts__person-role {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: .4rem;
    text-transform: uppercase;
    color: #5b616b;

    @media screen and (max-width: 640px) {
        font-size: 2.5rem;
    }
}

.ch-aside-contacts__action-btn {
    margin-top: 1.5rem;

    .ch-contacts-btn {
        width: 100%;
        padding: 0.8rem 2.4rem;
        min-width: 5rem;
        border: .2rem solid #0071bc;
        border-radius: 4px;

        @media screen and (max-width: 640px) {
            padding: 1.8rem 2.4rem;
            border: .3rem solid #0071bc;
        }

        &:hover {
            border-color: #205493;

            .ch-contacts-btn__text {
                color: #205493;
            }

            // .ch-contacts-btn__icon {
            //     background: url("../images/us-icon/icon-add-mail-hover.svg") no-repeat center;
            // }
        }
    }

    .ch-contacts-btn__icon {
        width: 2.5rem;
        height: 2.5rem;
        float: left;
        background: url("../images/us-icon/icon-add-mail.svg") no-repeat center;
        position: relative;
        top: .2rem;
    }

    .ch-contacts-btn__text {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: bold;
        color: #0071bc;

        @media screen and (max-width: 640px) {
            font-size: 2.5rem;
        }

    }
}

.ch-aside-contacts__description {
    margin-top: 1rem;
}

.ch-contacts-description__phone,
.ch-contacts-description__address {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 1rem;
    color: #5b616b;

    @media screen and (max-width: 640px) {
        font-size: 2.5rem;
    }
}

.ch-contacts-description__filter {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 1rem;
    color: #0071bc;
    text-decoration: underline;

    &:hover {
        color: #0071bc;
        text-decoration: none;
    }
    @media screen and (max-width: 640px) {
        font-size: 2.5rem;
    }
}

.ch-mobile-contacts__bg {
  width: 100%;
  height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
}
