.ch-main-nav-list__item {
    display: inline-block;
}

.ch-main-nav-item {
    display: flex;
    align-items: center;
    margin-left: -4px;
}

.ch-main-nav-item__link {
    display: block;
    height: 7.3rem;
    min-width: 12.5rem;
    padding: 2.2rem 2.5rem;

    &:hover {
        background: #4e5664;
    }
}

.ch-main-nav-item__link_active {
    background: #4e5664;
}

.ch-main-nav-item__text-bundle {
    display: inline-block;
    position: relative;
}

.ch-main-nav-item__text {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.ch-main-nav-item__text_badge-notify:after {
    content: '\0020';
    position: absolute;
    border: 3px solid #fdb81e;
    border-radius: 50%;
    top: -.2rem;
    right: -.9rem;
}

.ch-main-nav-item__icon {
    margin-right: 1rem;
}

.ch-main-nav-item__inbox-counter {
    position: absolute;
    border-radius: 50%;
    top: -.8rem;
    right: -1.6rem;
    background: #fdb81e;
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    padding: .2rem 0 0;
}
