/* ========================   Modules/Page Content  ======================= */

.ch-page {
  padding-left: 2.5rem;
  padding-right: 2.5rem;  
  background-color: #f1f1f1;
}

.ch-page-heading,
.ch-page-content {
  padding-top: 1.8rem;
}

.ch-page-heading__select {
  height: 3.5rem;
  padding: .8rem 3rem .8rem 1.7rem;
  float: left;
}

.ch-page-heading__actions {
  height: 3.7rem;
  border: .1rem solid #757575;
  display: inline-block;
  cursor: pointer;

  .icon {
    width: 4.5rem;
    height: 3.5rem;
  }

  .icon-download {
    border-left: .1rem solid #757575;
  }
}

.ch-page-heading__search {
  width: 50%;
  float: right;

  .icon {
    width: 16px;
    height: 16px;
  }
}
