.profile-form__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 0.1rem solid #d6d7da;
    margin-bottom: 3.5rem;
}

.profile-form__header-text {
    color: #3e3e3e;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 2.2rem 0 2.5rem 2.7rem;
}

.profile-form__submit-btn {
    margin-right: 2.7rem;
}

.ch-plane-btn {
    font-size: 1.4rem;
    text-transform: capitalize;
}


.ch-plane-btn_primary {
    padding: 0.7rem 1.8rem;
    border: 0.2rem solid #0071bc;
    border-radius: 0.4rem;
    color: #0071bc;
    font-weight: 700;
}

.ch-plane-btn_save {
    padding: 1.2rem 1.5rem 2.5rem;
    border-radius: 0.4rem;
    background-color: #0071bc;
    color: #ffffff;
    font-weight: 700;
}

.profile-form__section {
    max-width: 53.6rem;
    margin: 3.1rem auto 4rem;
}

.ch-section__header {
    font-size: 1.8rem;
    line-height: 1;
    color: #080808;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 2.1rem;
}

.ch-flex-row {
    display: flex;
    margin-bottom: 1.8rem;
}

.ch-flex-row:last-of-type {
    margin-bottom: 0;
}

.ch-flex-row__input-block {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 2rem;
}

.ch-input-block__form-input .ch-form-input {
    margin: 0;
}

.ch-flex-row__input-block:last-of-type {
    margin-right: 0;
}

.ch-input-block__label {
    font-size: 1.4rem;
    color: #000000;
    line-height: 2.4rem;
    margin-bottom: 0.3rem;
    display: block;
    font-weight: 400;
}

.ch-form-input.ch-form-input_disable {
    background-color: #f1f1f1;
    color: #5b616b;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1.2rem 0 1.1rem 1.3rem;
}

.ch-form-input_disable::-webkit-input-placeholder {
    font-weight: 600;
}

.ch-input-block__addition {
    color: #5b616b;
}

.ch-input-block__form-group {
    display: flex;
    padding-left: 0.2rem;
}

.ch-input-block__form-input_2dig {
    max-width: 6.8rem;
}

.ch-input-block__form-input_4dig {
    max-width: 10rem;
}

.ch-input-block__form-input_mr_10 {
    margin-right: 1rem;
}

.ch-form-input::-webkit-input-placeholder {
    color: #5b616b;
    font-size: 1.4rem;
}

.ch-input-block__label-radio {
    font-weight: 600;
    display: block;
    position: relative;
    padding-left: 3rem;
    margin-top: 0.9rem;
    cursor: pointer;
}

input[type="radio"]:checked + .ch-input-block__label-radio:after {
    position: absolute;
    content: "\0020";
    top: 0.4rem;
    left: 0.6rem;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #0071BC;
}

.ch-input-block__label-radio:before {
    position: absolute;
    content: "\0020";
    top: 0;
    left: 0.2rem;
    padding: 1rem;
    border: 0.1rem solid #757575;
    border-radius: 50%;
}

.ch-input-block__form-input_icon {
    position: relative;
}

.ch-input-block__form-input_icon_left .ch-form-input {
    padding-left: 3.7rem;
    float: none;
}
.ch-input-block__form-input_icon_right .ch-form-input {
    padding-right: 3.7rem;
    float: none;
}

.ch-form-input-icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 3.7rem;
    pointer-events: none;
}

.ch-form-input-icon_left {
    left: 0;
}
.ch-form-input-icon_right {
    right: 0;
}

.ch-form-input-icon_search:after {
    background: url(../images/out-sprite-icons/icon-search.svg) no-repeat center;
    content: "\0020";
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    top: 50%;
    left: 50%;
    margin: -0.8rem 0 0 -0.8rem;

    @media screen and (max-width: $break-phone) {
        left: 67%;
    }

}

.ch-form-input-icon_arrow-down:after {
    background: url(../images/out-sprite-icons/icon-arrow-down.svg) no-repeat center;
    content: "\0020";
    position: absolute;
    height: 0.7rem;
    width: 1rem;
    top: 50%;
    right: 50%;
    margin: -0.35rem -0.3rem 0 0 ;
}

.ch-form-input.ch-form-input_search {
    height: auto;
}

.ch-input-block__btn {
    margin-top: 1.8rem;
}

.ch-input-block__form-input_half-width {
    width: 50%;
    padding-right: 1rem;
}

.profile-form {

    .panel {
        width: 53.6rem;
        margin: 0 auto;
        border: none;
        box-shadow: none;
    }

    .panel-body {
        padding: 0;
        border-width: 0;
    }

    .panel-heading {
        background: #fff;
        padding: 2.4rem 0;
        border-bottom: 1px solid #d6d7da;
        border-width: 0 0 1px 0;

    }

    .panel-group .panel + .panel {
        margin: 0 auto;
    }

    .panel-group .panel:first-child .panel-heading {
        padding-top: 0;
    }

    .panel-title > a {
        width: 100%;
        padding: 1.2rem 0;
        color: #080808;
        position: relative;
        outline: none;
    }

    .accordion-toggle:after {
        content: '';
        width: 1rem;
        height: .7rem;
        position: absolute;
        right: 2rem;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background: url(../images/out-sprite-icons/icon-arrow-down.svg) no-repeat center;

    }

    .panel-group .panel-heading + .panel-collapse > .panel-body {
        border-width: 0 0 1px 0;
    }

    .panel-open {

        .panel-title > a,
        .ch-section__header {
            color: #5894ca;
        }

        .accordion-toggle:after {
            transform: rotate(-180deg);
        }

        .panel-heading {
            border-width: 0;
        }

        .panel-body {
            padding-bottom: 3rem;
            border-bottom: 1px solid #d6d7da;
        }

        .ch-section__header_icon.ch-section__header_icon_drafts:before {
            background: url(../images/out-sprite-icons/icon-drafts-profile-active.svg) no-repeat center;
        }

        .ch-section__header_icon.ch-section__header_icon_map-pointer:before {
            background: url(../images/out-sprite-icons/icon-map-pointer-profile-active.svg) no-repeat center;
        }

        .ch-section__header_icon.ch-section__header_icon_password:before {
            background: url(../images/out-sprite-icons/icon-password-active.svg) no-repeat center;
        }
    }
}

.ch-section__header_icon {
    padding-left: 3rem;
    position: relative;
}

.ch-section__header_icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    margin-right: 1.2rem;
}

.ch-section__header_icon.ch-section__header_icon_drafts:before {
    width: 1.8rem;
    height: 2.1rem;
    background: url(../images/out-sprite-icons/icon-drafts-profile.svg) no-repeat center;
}

.ch-section__header_icon.ch-section__header_icon_map-pointer:before {
    width: 1.6rem;
    height: 2.1rem;
    background: url(../images/out-sprite-icons/icon-map-pointer-profile.svg) no-repeat center;
}

.ch-section__header_icon.ch-section__header_icon_password:before {
    width: 1.8rem;
    height: 2.1rem;
    background: url(../images/out-sprite-icons/icon-password.svg) no-repeat center;
}
