@charset "UTF-8";

.ace_editor {
    height: 490px;
}

.ace-chrome {
    color: #51656F !important;
}

.ace_keyword {
    color: blue !important;
}

.ace_narrative_negative{
    color: #dc7d64 !important;
}

.ace_narrative_positive{
    color: #8dc73f !important;
}

.ace_narrative_neutral{
    color: #58b8d2 !important;
}
