
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPlaceLabel" translate="apqdApp.place.home.createOrEditLabel">Create or edit a Place</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="place.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.unitNumber" for="field_unitNumber">UnitNumber</label>
            <input type="text" class="form-control" name="unitNumber" id="field_unitNumber"
                    ng-model="place.unitNumber"
                    ng-maxlength="10" />
            <div ng-show="editForm.unitNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.unitNumber.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.cityName" for="field_cityName">CityName</label>
            <input type="text" class="form-control" name="cityName" id="field_cityName"
                    ng-model="place.cityName"
                    ng-maxlength="20" />
            <div ng-show="editForm.cityName.$invalid">
                <p class="help-block"
                    ng-show="editForm.cityName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.streetName" for="field_streetName">StreetName</label>
            <input type="text" class="form-control" name="streetName" id="field_streetName"
                    ng-model="place.streetName"
                    required ng-maxlength="100" />
            <div ng-show="editForm.streetName.$invalid">
                <p class="help-block"
                    ng-show="editForm.streetName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.streetName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.streetNumber" for="field_streetNumber">StreetNumber</label>
            <input type="text" class="form-control" name="streetNumber" id="field_streetNumber"
                    ng-model="place.streetNumber"
                    ng-maxlength="10" />
            <div ng-show="editForm.streetNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.streetNumber.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.zipCode" for="field_zipCode">ZipCode</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                    ng-model="place.zipCode"
                    ng-maxlength="5" />
            <div ng-show="editForm.zipCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.zipCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5">
                    This field cannot be longer than 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.zipSuffix" for="field_zipSuffix">ZipSuffix</label>
            <input type="text" class="form-control" name="zipSuffix" id="field_zipSuffix"
                    ng-model="place.zipSuffix"
                    ng-maxlength="4" />
            <div ng-show="editForm.zipSuffix.$invalid">
                <p class="help-block"
                    ng-show="editForm.zipSuffix.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4">
                    This field cannot be longer than 4 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="place.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="place.latitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.validAddressFlag" for="field_validAddressFlag">ValidAddressFlag</label>
            <input type="checkbox" class="form-control" name="validAddressFlag" id="field_validAddressFlag"
                    ng-model="place.validAddressFlag"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.validationStatus" for="field_validationStatus">ValidationStatus</label>
            <input type="text" class="form-control" name="validationStatus" id="field_validationStatus"
                    ng-model="place.validationStatus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.place.validationMessage" for="field_validationMessage">ValidationMessage</label>
            <input type="text" class="form-control" name="validationMessage" id="field_validationMessage"
                    ng-model="place.validationMessage"
                     />
        </div>

        <div class="form-group">
            <label translate="apqdApp.place.county" for="field_county">county</label>
            <select class="form-control" id="field_county" name="county" ng-model="place.county" ng-options="lookupCounty as lookupCounty.id for lookupCounty in lookupcountys track by lookupCounty.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="apqdApp.place.state" for="field_state">state</label>
            <select class="form-control" id="field_state" name="state" ng-model="place.state" ng-options="lookupState as lookupState.id for lookupState in lookupstates track by lookupState.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
