.icon {
    display: inline-block;
}

.ch-layout {
    width: 100%;
}


.ch-header {
    width: 100%;
    background: #343c47;
    height: 7.3rem;
}

.ch-header__section {
    height: 100%;
}

.ch-header__section_logo {
    float: left;
    padding: 1.5rem 6.2rem 0 2.7rem;
    width: 21rem;
}

.ch-header__section_control-pane {
    margin-left: 21rem;
}

.ch-header__subsection {
    display: inline-block;
}

.ch-main-nav-list__item {
    display: inline-block;
}

.ch-main-nav-item {
    display: flex;
    align-items: center;
}

.ch-main-nav-item__link {
    display: block;
    height: 7.3rem;
    min-width: 12.5rem;
    padding: 2.2rem 2.5rem;
}

.ch-main-nav-item__link_active {
    background: #4e5664;
}

.ch-main-nav-item__text {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.ch-main-nav-item__text_badge-notify:after {
    content: '\0020';
    position: absolute;
    border: 3px solid #fdb81e;
    border-radius: 50%;
    top: -.2rem;
    right: -.9rem;
}

.ch-main-nav-item__icon {
    margin-right: 1rem;
}


.ch-layout__aside {
    position: fixed;
    width: 21rem;
    height: 100vh;
    border-right: 1px solid #cbcdcf;
}

.ch-layout__content {
    width: 100%;
    padding-left: 21rem;
}

.ch-aside-section {
    background: #fff;
}

.ch-aside-section__item {
    border-bottom: 1px solid #cbcdcf;
    padding-top: 2rem;
}

.ch-aside-section__item:last-child {
    border-bottom: none;
}

.ch-option-btn {
    display: inline-block;
    padding: 0.8rem 3rem;
    min-width: 5rem;
    background: #0071bc;
    border-radius: 4px;
}

.ch-option-btn__text {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;

}

.ch-aside-nav__action-btn {
    padding: 0 0 1rem 2.7rem;
}

.ch-aside-nav-list {
    margin-bottom: 1.5rem;
}

.ch-aside-nav-item__link {
    width: 100%;
    line-height: 4rem;
    padding: 0 0 0 2.7rem;
    transition: none;
    position: relative;
}

.ch-aside-nav-item__link_active {
    border-left: 0.3rem solid #0071bc;

    .ch-aside-nav-item__text {
        color: #0071bc;
    }

    .ch-aside-nav-item__counter {
        color: #0071bc;
    }

}

.ch-aside-nav-item__link_icon {
    padding: 0 0 0 5.4rem;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon {
    padding: 0 0 0 5.1rem;
}

.ch-aside-nav-item__link_icon:before {
    content: '\0020';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.7rem;
    margin: auto 0;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon:before {
    left: 2.4rem;
}

.ch-aside-nav-item__link_icon_inbox:before {
    width: 16px;
    height: 16px;
    background: url(../images/out-sprite-icons/icon-aside-inbox.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_icon_sent:before {
    width: 16px;
    height: 12px;
    background: url(../images/out-sprite-icons/icon-sent.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_icon_drafts:before {
    width: 14px;
    height: 16px;
    background: url(../images/out-sprite-icons/icon-drafts.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_icon_deleted:before {
    width: 16px;
    height: 16px;
    background: url(../images/out-sprite-icons/icon-recycle-bin.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_inbox:before {
    background: url(../images/out-sprite-icons/icon-aside-inbox-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_sent:before {
    background: url(../images/out-sprite-icons/icon-sent-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_drafts:before {
    background: url(../images/out-sprite-icons/icon-drafts-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__link_active.ch-aside-nav-item__link_icon_deleted:before {
    background: url(../images/out-sprite-icons/icon-recycle-bin-active.png) 0 0 no-repeat;
}

.ch-aside-nav-item__counter {
    vertical-align: middle;
}

.ch-aside-nav-item__text {
    font-size: 1.4rem;
    font-weight: 600;
    color: #5b616b;
    vertical-align: middle;
}

.ch-header__subsection-user-account {
    float: right;
    padding: 22px 25px 0 0;
}

.ch-user-account-entry__btn_collapsed:after {
    content: '\0020';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    vertical-align: 10px;
}

.ch-user-account-entry__btn_expanded:after {
    content: '\0020';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    vertical-align: 10px;
}

.ch-page-heading__pagination {
    float: right;
    margin-right: 20px;
}

.ch-button-group {

}

.ch-button-group__item {
    display: inline-block;
}
.ch-button-group__btn {
    border: .1rem solid #757575;
    padding: .5rem 1.5rem;
}

.ch-button-group__btn_left-border {
    border-top: .1rem solid #757575;
    border-bottom: .1rem solid #757575;
    border-right: .1rem solid #757575;
    border-left: 0;
    padding: .5rem 1.5rem;
    margin-left: -.4rem;
}

.ch-contacts__heading {
    font-size: 1.4rem;
    color: #5b616b;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    padding-left: 2.7rem;
}

.ch-contact {
    line-height: 45px;
}

.ch-contact__link {
    width: 100%;
    line-height: 18px;
    vertical-align: middle;
    padding: .4rem 1rem .4rem 2.7rem;
    position: relative;

    .ch-contact__icon {
        display: none;
    }
}

.ch-contact__link:hover {
    background: #f1f1f1;

    .ch-contact__icon {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2.7rem;
        margin: auto 0;
    }
}

.ch-contact__name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.ch-contact__role {
    font-size: 1.2rem;
    font-weight: 600;
    color: #5b616b;
    text-transform: uppercase;
}

.ch-mail-expanded {
    padding: 1.8rem 3rem;
    background: #fff;
}

.ch-mail-origin__prefix {
    color: #6a6f78;
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: .4rem;
}

.ch-mail-origin__name {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
}

.ch-button-group-action {
    vertical-align: middle;
}

.ch-button-group-action__btn {
    float: left;
    text-align: center;
    min-height: 3.4rem;
    cursor: pointer;
    -webkit-appearance: none;
    vertical-align: middle;
    background-color: #fff;
    border: .1rem solid #000;
    position: relative;
}

.ch-button-group-action__btn + .ch-button-group-action__btn {
    margin-left: -1px;
}


.ch-button-group-action__btn_reply {
    width: 4.8rem;
    height: 3.6rem;
}

.ch-button-group-action__btn_mail-options {
    width: 3rem;
    height: 3.6rem;
}

.ch-button-group-action__btn_reply:before {
    content: '\0020';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/out-sprite-icons/icon-reply-msg.png) 0 0 no-repeat;
    vertical-align: -10px;
}

.ch-button-group-action__btn_mail-options:before {
    content: '\0020';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #5b616b;
}

.ch-mail-header {
    display: table;
    width: 100%;
}

.ch-mail-header__item {
    display: table-cell;
    vertical-align: middle;
}

.ch-mail-header__item_ch-mail-info,
.ch-mail-header__item_ch-mail-options-group {
    text-align: right;
}

.ch-mail-header__item_ch-mail-info {
    width: 11rem;
}

.ch-mail-header__item_ch-mail-options-group {
    width: 9rem;
}

.ch-mail-options-group {
    display: inline-block;
}

.ch-mail-expanded__header {
    padding: 0 0 1.6rem 0;
    margin-bottom: 2rem;
    border-bottom: .1rem solid #cbcdcf;
}

.ch-mail-expanded__body {
    margin-bottom: 2rem;
}
