@media (max-width: 1500px) {
  .main-section  .dashboard {
    height: 850px;
  }
}

@media (max-width: 1200px) {
  .main-section .dashboard {
    height: auto;
  }
  .referral-tabs-container  .tabs-container .nav li a {
    padding: 15px 20px;
    font-size: 1.5rem;
  }
}

@media (max-width: 1150px) {
  .header-data-container {
    top: 0px;
    left: 8px;
    p {
      padding-right: 10px;
      display: inline;
    }
  }
}

@media (max-width: 1080px) {
  .referral-tabs-container  .tabs-container .nav li a {
    padding: 10px 15px;
    font-size: 1.4rem;
  }
}

@media (max-width: 980px) {
  .row {
    .current-report,
    .current-panel,
    .referral-tabs-container {
      border-right: 0;
    }
  }
}
@media (max-width: 900px) {
  .header-data-container + button {
    position: absolute;
    top: 30px;
  }
}
@media (max-width: 768px) {

}
