
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAttachmentLabel" translate="intakeApp.attachment.home.createOrEditLabel">Create or edit a Attachment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="attachment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="intakeApp.attachment.fileName" for="field_fileName">FileName</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="attachment.fileName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="intakeApp.attachment.fileMimeType" for="field_fileMimeType">FileMimeType</label>
            <input type="text" class="form-control" name="fileMimeType" id="field_fileMimeType"
                    ng-model="attachment.fileMimeType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="intakeApp.attachment.fileSize" for="field_fileSize">FileSize</label>
            <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                    ng-model="attachment.fileSize"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="intakeApp.attachment.fileDescription" for="field_fileDescription">FileDescription</label>
            <input type="text" class="form-control" name="fileDescription" id="field_fileDescription"
                    ng-model="attachment.fileDescription"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="intakeApp.attachment.documentUUID" for="field_documentUUID">DocumentUUID</label>
            <input type="text" class="form-control" name="documentUUID" id="field_documentUUID"
                    ng-model="attachment.documentUUID"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="intakeApp.attachment.creationDate" for="field_creationDate">CreationDate</label>
            <input id="field_creationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="attachment.creationDate" is-open="datePickerForCreationDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="intakeApp.attachment.recordStatus" for="field_recordStatus">RecordStatus</label>
            <input type="text" class="form-control" name="recordStatus" id="field_recordStatus"
                    ng-model="attachment.recordStatus"
                     />
        </div>

        <div class="form-group">
            <label translate="intakeApp.attachment.referral" for="field_referral">referral</label>
            <select class="form-control" id="field_referral" name="referral" ng-model="attachment.referral" ng-options="referral as referral.id for referral in referrals track by referral.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
