<div class="ch-page">
    <div class="ch-mail-editor">

        <div class="ch-mail-editor__header">
            <div class="ch-mail-heading">
                <div class="ch-mail-heading__item ch-mail-heading__item_back-control">
                    <button type="button" class="ch-flat-btn ch-flat-btn_back-btn" ng-click="backToPreviousState()">
                    </button>
                </div>
                <div class="ch-mail-heading__item ch-mail-heading__item_heading">
                    <h2 class="ch-new-mail-heading">
                        {{!isReplyOn ? 'New Message' : mail.subject}}
                    </h2>
                </div>

                <div>
                    <h3>
                       <span>{{progressPercentage}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </h3>
                </div>

                <div class="ch-mail-heading__item ch-mail-heading__item_attach-btn">
                    <div class="ch-mail-attach-files">
                        <div class="ch-mail-attach-files__btn" title="Click to attach the file">
                            <a ngf-select="upload($file)"
                               class="ch-link-btn ch-link-btn_icon ch-link-btn_icon_attach-files"
                               role="button">Attach files</a>
                        </div>
                    </div>
                </div>

                <div class="ch-mail-heading__item ch-mail-heading__item_action-btn">
                    <button type="button" class="ch-option-btn ch-option-btn_short-text" ng-click="sendMail()">
                        <span class="ch-option-btn__text">{{isReplyOn ? 'Reply' : 'Send'}}</span>
                    </button>
                </div>

            </div>
        </div>

        <div ng-if="mail.attachments.length > 0" class="ch-mail-expanded__footer">
            <div class="ch-attachments">

                <div class="ch-attachments__heading">
                    <h3>
                        <span class="attachments-count">attachments</span>
                    </h3>
                </div>

                <ol class="ch-attachments__list">

                    <li ng-repeat="attachment in mail.attachments" class="ch-attachments__list__item">
                        <div class="ch-attachments__list__item__icon">
                            <span class="icon icon-attachment"></span>
                        </div>

                        <div class="ch-attachments__list__item__file">
                            <span class="attachments-filename" title="File name">{{attachment.fileName}}</span>
                            <span class="attachments-filesize" title="File size">{{attachment.fileSize | convertFileSizeToHuman}}</span>
                        </div>

                        <div class="ch-attachments__list__item__actions">

                            <a href="api/file/{{attachment.id}}">
                                <span class="icon icon-download" title="Download attachment"></span>
                            </a>

                            <span class="icon icon-remove" ng-click="removeAttachment(attachment)" title="Remove attachment"></span>
                        </div>
                    </li>

                </ol>
            </div>

        </div>

        <div class="ch-mail-editor__body">
            <div class="ch-new-mail">

                <div class="ch-new-mail__row">
                    <div class="ch-new-mail-field">

                        <div ng-if="!isReplyOn" class="ch-new-mail-field__label">
                            <button type="button" class="ch-dropdown-label-btn" ng-click="showContacts = !showContacts">
                                <span class="ch-dropdown-label-btn__text">To</span>
                            </button>
                        </div>

                        <div ng-if="isReplyOn" class="ch-new-mail-field__label">
                            <span class="ch-dropdown-label-btn__text">To</span>
                        </div>

                        <input type="text" class="ch-new-mail-field__input" ng-click="showContacts = !showContacts"
                               ng-readonly="true" value="{{mail.to.firstName}} {{mail.to.lastName}}">
                    </div>
                </div>

                <div ng-if="showContacts && !isReplyOn && !isOneRecipient" class="ch-new-mail__row ch-new-mail__row_no-pad">
                    <div class="ch-contacts-dropdown">
                        <ul class="ch-contacts-list">
                            <li ng-repeat="contact in contacts" class="ch-contacts-list__item">
                                <div class="ch-contact-id" ng-click="selectContact(contact)">
                                    <span class="icon icon-contact ch-contact-id__icon"></span>
                                    <span class="ch-contact-id__name">{{contact.firstName}} {{contact.lastName}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="!isReplyOn" class="ch-new-mail__row">
                    <div class="ch-new-mail-field">
                        <input type="text" maxlength="100" class="ch-new-mail-field__input" ng-model="mail.subject"
                               ng-change="onTextChange()"
                               ng-class="isSubjectInvalid ? 'ch-invalid-send-field' : ''"
                               placeholder="Subject:">
                    </div>
                </div>

                <div class="ch-new-mail__row-text">
                    <div class="ch-new-mail-text-body">
                        <div class="ch-new-mail-text-body__text-counter">{{4000 - mail.body.length}} characters left</div>
                        <textarea cols="30" maxlength="4000" rows="20" ng-model="mail.body"
                                  style="border: 1px solid #777777;"
                                  ng-change="onTextChange()"
                                  ng-class="isBodyInvalid ? 'ch-invalid-send-field' : ''"
                                  class="ch-new-mail-text-body__text-input"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
