
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" translate="apqdApp.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.body" for="field_body">Body</label>
            <input type="text" class="form-control" name="body" id="field_body"
                    ng-model="message.body"
                    ng-maxlength="4000" />
            <div ng-show="editForm.body.$invalid">
                <p class="help-block"
                    ng-show="editForm.body.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4000">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.subject" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject"
                    ng-model="message.subject"
                    ng-maxlength="100" />
            <div ng-show="editForm.subject.$invalid">
                <p class="help-block"
                    ng-show="editForm.subject.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.caseNumber" for="field_caseNumber">CaseNumber</label>
            <input type="text" class="form-control" name="caseNumber" id="field_caseNumber"
                    ng-model="message.caseNumber"
                    ng-maxlength="20" />
            <div ng-show="editForm.caseNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.caseNumber.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.dateCreated" for="field_dateCreated">DateCreated</label>
            <input id="field_dateCreated" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="message.dateCreated" is-open="datePickerForDateCreated.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateCreatedOpen($event)"><em class="glyphicon glyphicon-calendar"></em></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.dateRead" for="field_dateRead">DateRead</label>
            <input id="field_dateRead" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="message.dateRead" is-open="datePickerForDateRead.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateReadOpen($event)"><em class="glyphicon glyphicon-calendar"></em></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="message.status" id="field_status">
                <option value="NEW" translate="apqdApp.MessageStatus.NEW">NEW</option>
                <option value="READ" translate="apqdApp.MessageStatus.READ">READ</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.dateUpdated" for="field_dateUpdated">DateUpdated</label>
            <input id="field_dateUpdated" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="message.dateUpdated" is-open="datePickerForDateUpdated.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateUpdatedOpen($event)"><em class="glyphicon glyphicon-calendar"></em></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="apqdApp.message.unreadMessagesCount" for="field_unreadMessagesCount">UnreadMessagesCount</label>
            <input type="number" class="form-control" name="unreadMessagesCount" id="field_unreadMessagesCount"
                    ng-model="message.unreadMessagesCount"
                     />
        </div>

        <div class="form-group">
            <label translate="apqdApp.message.replyOn" for="field_replyOn">replyOn</label>
            <select class="form-control" id="field_replyOn" name="replyOn" ng-model="message.replyOn" ng-options="message as message.id for message in replyons | orderBy:'id' track by message.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="apqdApp.message.to" for="field_to">to</label>
            <select class="form-control" id="field_to" name="to" ng-model="message.to" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="apqdApp.message.from" for="field_from">from</label>
            <select class="form-control" id="field_from" name="from" ng-model="message.from" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="apqdApp.message.inbox" for="field_inbox">inbox</label>
            <select class="form-control" id="field_inbox" name="inbox" ng-model="message.inbox" ng-options="inbox as inbox.id for inbox in inboxs track by inbox.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="apqdApp.message.outbox" for="field_outbox">outbox</label>
            <select class="form-control" id="field_outbox" name="outbox" ng-model="message.outbox" ng-options="outbox as outbox.id for outbox in outboxs track by outbox.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="apqdApp.message.draft" for="field_draft">draft</label>
            <select class="form-control" id="field_draft" name="draft" ng-model="message.draft" ng-options="draft as draft.id for draft in drafts track by draft.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="apqdApp.message.deleted" for="field_deleted">deleted</label>
            <select class="form-control" id="field_deleted" name="deleted" ng-model="message.deleted" ng-options="deleted as deleted.id for deleted in deleteds track by deleted.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
