<div class="ch-attachments">

      <div class="ch-attachments__heading">
          <h3><span class="attachments-count"> 2 attachments</span>
              <span class="attachments-download">Download All</span></h3>
      </div>

      <ol class="ch-attachments__list">

            <li class="ch-attachments__list__item">
                    <div class="ch-attachments__list__item__icon">
                        <span class="icon icon-attachment"></span>
                    </div>

                    <div class="ch-attachments__list__item__file">
                        <span class="attachments-filename">Foster Care Services.jpg</span>
                        <span class="attachments-filesize">120 MB</span>
                    </div>

                    <div class="ch-attachments__list__item__actions">
                        <span class="icon icon-view"></span>
                        <span class="icon icon-download"></span>
                    </div>
            </li>

            <li class="ch-attachments__list__item">
                    <div class="ch-attachments__list__item__icon">
                        <span class="icon icon-attachment"></span>
                    </div>

                    <div class="ch-attachments__list__item__file">
                        <span class="attachments-filename">Services Info.doc</span>
                        <span class="attachments-filesize">25 MB</span>
                    </div>

                    <div class="ch-attachments__list__item__actions">
                        <span class="icon icon-view"></span>
                        <span class="icon icon-download"></span>
                    </div>
            </li>
      </ol>
</div>
