Welcome!

This Secured Inbox is for you to talk with your caseworker.
Your assigned caseworker is Mary Jenkins. Feel free to just use “Reply” to talk to her.

You can use this Inbox to ask for help and to let us know how you are doing. Examples:
Ask to schedule a visit with your children. Ask about parenting classes or medical appointments. Schedule time to meet with your caseworker.
Send updates on your AA meeting attendance.

Your caseworker will use this Inbox to keep you informed. Examples:
Let you know when you have to go to court again.
Tell you about services (like parenting classes, anger management classes) that have been set up for you.
Schedule time for you to meet with your children. Let you know who to contact if you need someone while your caseworker takes some time off.
If you want to receive alerts when a new message is in your box, set up your Profile page to include how you would like to receive that information. Your Profile page is in the top right side of the screen.

If you want to find children's residential facilities closer to you home please use Facility Search Engine.
