/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-add-contact-name: 'icon-add-contact';
$icon-add-contact-x: 130px;
$icon-add-contact-y: 0px;
$icon-add-contact-offset-x: -130px;
$icon-add-contact-offset-y: 0px;
$icon-add-contact-width: 27px;
$icon-add-contact-height: 21px;
$icon-add-contact-total-width: 179px;
$icon-add-contact-total-height: 144px;
$icon-add-contact-image: '../images/global.png';
$icon-add-contact: (130px, 0px, -130px, 0px, 27px, 21px, 179px, 144px, '../images/global.png', 'icon-add-contact', );
$icon-aside-inbox-name: 'icon-aside-inbox';
$icon-aside-inbox-x: 26px;
$icon-aside-inbox-y: 106px;
$icon-aside-inbox-offset-x: -26px;
$icon-aside-inbox-offset-y: -106px;
$icon-aside-inbox-width: 16px;
$icon-aside-inbox-height: 16px;
$icon-aside-inbox-total-width: 179px;
$icon-aside-inbox-total-height: 144px;
$icon-aside-inbox-image: '../images/global.png';
$icon-aside-inbox: (26px, 106px, -26px, -106px, 16px, 16px, 179px, 144px, '../images/global.png', 'icon-aside-inbox', );
$icon-back-arrow-name: 'icon-back-arrow';
$icon-back-arrow-x: 78px;
$icon-back-arrow-y: 106px;
$icon-back-arrow-offset-x: -78px;
$icon-back-arrow-offset-y: -106px;
$icon-back-arrow-width: 16px;
$icon-back-arrow-height: 16px;
$icon-back-arrow-total-width: 179px;
$icon-back-arrow-total-height: 144px;
$icon-back-arrow-image: '../images/global.png';
$icon-back-arrow: (78px, 106px, -78px, -106px, 16px, 16px, 179px, 144px, '../images/global.png', 'icon-back-arrow', );
$icon-contact-name: 'icon-contact';
$icon-contact-x: 56px;
$icon-contact-y: 50px;
$icon-contact-offset-x: -56px;
$icon-contact-offset-y: -50px;
$icon-contact-width: 26px;
$icon-contact-height: 26px;
$icon-contact-total-width: 179px;
$icon-contact-total-height: 144px;
$icon-contact-image: '../images/global.png';
$icon-contact: (56px, 50px, -56px, -50px, 26px, 26px, 179px, 144px, '../images/global.png', 'icon-contact', );
$icon-drafts-name: 'icon-drafts';
$icon-drafts-x: 130px;
$icon-drafts-y: 106px;
$icon-drafts-offset-x: -130px;
$icon-drafts-offset-y: -106px;
$icon-drafts-width: 14px;
$icon-drafts-height: 16px;
$icon-drafts-total-width: 179px;
$icon-drafts-total-height: 144px;
$icon-drafts-image: '../images/global.png';
$icon-drafts: (130px, 106px, -130px, -106px, 14px, 16px, 179px, 144px, '../images/global.png', 'icon-drafts', );
$icon-facilities-name: 'icon-facilities';
$icon-facilities-x: 167px;
$icon-facilities-y: 0px;
$icon-facilities-offset-x: -167px;
$icon-facilities-offset-y: 0px;
$icon-facilities-width: 12px;
$icon-facilities-height: 16px;
$icon-facilities-total-width: 179px;
$icon-facilities-total-height: 144px;
$icon-facilities-image: '../images/global.png';
$icon-facilities: (167px, 0px, -167px, 0px, 12px, 16px, 179px, 144px, '../images/global.png', 'icon-facilities', );
$icon-inbox-name: 'icon-inbox';
$icon-inbox-x: 26px;
$icon-inbox-y: 132px;
$icon-inbox-offset-x: -26px;
$icon-inbox-offset-y: -132px;
$icon-inbox-width: 16px;
$icon-inbox-height: 12px;
$icon-inbox-total-width: 179px;
$icon-inbox-total-height: 144px;
$icon-inbox-image: '../images/global.png';
$icon-inbox: (26px, 132px, -26px, -132px, 16px, 12px, 179px, 144px, '../images/global.png', 'icon-inbox', );
$icon-pagination-arrow-left-name: 'icon-pagination-arrow-left';
$icon-pagination-arrow-left-x: 130px;
$icon-pagination-arrow-left-y: 61px;
$icon-pagination-arrow-left-offset-x: -130px;
$icon-pagination-arrow-left-offset-y: -61px;
$icon-pagination-arrow-left-width: 13px;
$icon-pagination-arrow-left-height: 20px;
$icon-pagination-arrow-left-total-width: 179px;
$icon-pagination-arrow-left-total-height: 144px;
$icon-pagination-arrow-left-image: '../images/global.png';
$icon-pagination-arrow-left: (130px, 61px, -130px, -61px, 13px, 20px, 179px, 144px, '../images/global.png', 'icon-pagination-arrow-left', );
$icon-pagination-arrow-right-name: 'icon-pagination-arrow-right';
$icon-pagination-arrow-right-x: 130px;
$icon-pagination-arrow-right-y: 31px;
$icon-pagination-arrow-right-offset-x: -130px;
$icon-pagination-arrow-right-offset-y: -31px;
$icon-pagination-arrow-right-width: 13px;
$icon-pagination-arrow-right-height: 20px;
$icon-pagination-arrow-right-total-width: 179px;
$icon-pagination-arrow-right-total-height: 144px;
$icon-pagination-arrow-right-image: '../images/global.png';
$icon-pagination-arrow-right: (130px, 31px, -130px, -31px, 13px, 20px, 179px, 144px, '../images/global.png', 'icon-pagination-arrow-right', );
$icon-recycle-bin-name: 'icon-recycle-bin';
$icon-recycle-bin-x: 52px;
$icon-recycle-bin-y: 106px;
$icon-recycle-bin-offset-x: -52px;
$icon-recycle-bin-offset-y: -106px;
$icon-recycle-bin-width: 16px;
$icon-recycle-bin-height: 16px;
$icon-recycle-bin-total-width: 179px;
$icon-recycle-bin-total-height: 144px;
$icon-recycle-bin-image: '../images/global.png';
$icon-recycle-bin: (52px, 106px, -52px, -106px, 16px, 16px, 179px, 144px, '../images/global.png', 'icon-recycle-bin', );
$icon-reply-msg-name: 'icon-reply-msg';
$icon-reply-msg-x: 0px;
$icon-reply-msg-y: 106px;
$icon-reply-msg-offset-x: 0px;
$icon-reply-msg-offset-y: -106px;
$icon-reply-msg-width: 16px;
$icon-reply-msg-height: 16px;
$icon-reply-msg-total-width: 179px;
$icon-reply-msg-total-height: 144px;
$icon-reply-msg-image: '../images/global.png';
$icon-reply-msg: (0px, 106px, 0px, -106px, 16px, 16px, 179px, 144px, '../images/global.png', 'icon-reply-msg', );
$icon-sent-name: 'icon-sent';
$icon-sent-x: 0px;
$icon-sent-y: 132px;
$icon-sent-offset-x: 0px;
$icon-sent-offset-y: -132px;
$icon-sent-width: 16px;
$icon-sent-height: 12px;
$icon-sent-total-width: 179px;
$icon-sent-total-height: 144px;
$icon-sent-image: '../images/global.png';
$icon-sent: (0px, 132px, 0px, -132px, 16px, 12px, 179px, 144px, '../images/global.png', 'icon-sent', );
$icon-user-account-exit-name: 'icon-user-account-exit';
$icon-user-account-exit-x: 104px;
$icon-user-account-exit-y: 106px;
$icon-user-account-exit-offset-x: -104px;
$icon-user-account-exit-offset-y: -106px;
$icon-user-account-exit-width: 16px;
$icon-user-account-exit-height: 16px;
$icon-user-account-exit-total-width: 179px;
$icon-user-account-exit-total-height: 144px;
$icon-user-account-exit-image: '../images/global.png';
$icon-user-account-exit: (104px, 106px, -104px, -106px, 16px, 16px, 179px, 144px, '../images/global.png', 'icon-user-account-exit', );
$icon-user-account-name: 'icon-user-account';
$icon-user-account-x: 92px;
$icon-user-account-y: 50px;
$icon-user-account-offset-x: -92px;
$icon-user-account-offset-y: -50px;
$icon-user-account-width: 26px;
$icon-user-account-height: 26px;
$icon-user-account-total-width: 179px;
$icon-user-account-total-height: 144px;
$icon-user-account-image: '../images/global.png';
$icon-user-account: (92px, 50px, -92px, -50px, 26px, 26px, 179px, 144px, '../images/global.png', 'icon-user-account', );
$icon-user-accout-popup-name: 'icon-user-accout-popup';
$icon-user-accout-popup-x: 0px;
$icon-user-accout-popup-y: 50px;
$icon-user-accout-popup-offset-x: 0px;
$icon-user-accout-popup-offset-y: -50px;
$icon-user-accout-popup-width: 46px;
$icon-user-accout-popup-height: 46px;
$icon-user-accout-popup-total-width: 179px;
$icon-user-accout-popup-total-height: 144px;
$icon-user-accout-popup-image: '../images/global.png';
$icon-user-accout-popup: (0px, 50px, 0px, -50px, 46px, 46px, 179px, 144px, '../images/global.png', 'icon-user-accout-popup', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 120px;
$logo-height: 40px;
$logo-total-width: 179px;
$logo-total-height: 144px;
$logo-image: '../images/global.png';
$logo: (0px, 0px, 0px, 0px, 120px, 40px, 179px, 144px, '../images/global.png', 'logo', );
$spritesheet-width: 179px;
$spritesheet-height: 144px;
$spritesheet-image: '../images/global.png';
$spritesheet-sprites: ($icon-add-contact, $icon-aside-inbox, $icon-back-arrow, $icon-contact, $icon-drafts, $icon-facilities, $icon-inbox, $icon-pagination-arrow-left, $icon-pagination-arrow-right, $icon-recycle-bin, $icon-reply-msg, $icon-sent, $icon-user-account-exit, $icon-user-account, $icon-user-accout-popup, $logo, );
$spritesheet: (179px, 144px, '../images/global.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
