/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-add-contact-name: 'icon-add-contact';
$icon-add-contact-x: 116px;
$icon-add-contact-y: 126px;
$icon-add-contact-offset-x: -116px;
$icon-add-contact-offset-y: -126px;
$icon-add-contact-width: 27px;
$icon-add-contact-height: 21px;
$icon-add-contact-total-width: 224px;
$icon-add-contact-total-height: 202px;
$icon-add-contact-image: '../images/global.png';
$icon-add-contact: (116px, 126px, -116px, -126px, 27px, 21px, 224px, 202px, '../images/global.png', 'icon-add-contact', );
$icon-aside-inbox-name: 'icon-aside-inbox';
$icon-aside-inbox-x: 208px;
$icon-aside-inbox-y: 0px;
$icon-aside-inbox-offset-x: -208px;
$icon-aside-inbox-offset-y: 0px;
$icon-aside-inbox-width: 16px;
$icon-aside-inbox-height: 16px;
$icon-aside-inbox-total-width: 224px;
$icon-aside-inbox-total-height: 202px;
$icon-aside-inbox-image: '../images/global.png';
$icon-aside-inbox: (208px, 0px, -208px, 0px, 16px, 16px, 224px, 202px, '../images/global.png', 'icon-aside-inbox', );
$icon-back-arrow-name: 'icon-back-arrow';
$icon-back-arrow-x: 208px;
$icon-back-arrow-y: 26px;
$icon-back-arrow-offset-x: -208px;
$icon-back-arrow-offset-y: -26px;
$icon-back-arrow-width: 16px;
$icon-back-arrow-height: 16px;
$icon-back-arrow-total-width: 224px;
$icon-back-arrow-total-height: 202px;
$icon-back-arrow-image: '../images/global.png';
$icon-back-arrow: (208px, 26px, -208px, -26px, 16px, 16px, 224px, 202px, '../images/global.png', 'icon-back-arrow', );
$icon-contact-name: 'icon-contact';
$icon-contact-x: 130px;
$icon-contact-y: 76px;
$icon-contact-offset-x: -130px;
$icon-contact-offset-y: -76px;
$icon-contact-width: 26px;
$icon-contact-height: 26px;
$icon-contact-total-width: 224px;
$icon-contact-total-height: 202px;
$icon-contact-image: '../images/global.png';
$icon-contact: (130px, 76px, -130px, -76px, 26px, 26px, 224px, 202px, '../images/global.png', 'icon-contact', );
$icon-drafts-name: 'icon-drafts';
$icon-drafts-x: 208px;
$icon-drafts-y: 130px;
$icon-drafts-offset-x: -208px;
$icon-drafts-offset-y: -130px;
$icon-drafts-width: 14px;
$icon-drafts-height: 16px;
$icon-drafts-total-width: 224px;
$icon-drafts-total-height: 202px;
$icon-drafts-image: '../images/global.png';
$icon-drafts: (208px, 130px, -208px, -130px, 14px, 16px, 224px, 202px, '../images/global.png', 'icon-drafts', );
$icon-facilities-name: 'icon-facilities';
$icon-facilities-x: 0px;
$icon-facilities-y: 186px;
$icon-facilities-offset-x: 0px;
$icon-facilities-offset-y: -186px;
$icon-facilities-width: 12px;
$icon-facilities-height: 16px;
$icon-facilities-total-width: 224px;
$icon-facilities-total-height: 202px;
$icon-facilities-image: '../images/global.png';
$icon-facilities: (0px, 186px, 0px, -186px, 12px, 16px, 224px, 202px, '../images/global.png', 'icon-facilities', );
$icon-inbox-name: 'icon-inbox';
$icon-inbox-x: 208px;
$icon-inbox-y: 156px;
$icon-inbox-offset-x: -208px;
$icon-inbox-offset-y: -156px;
$icon-inbox-width: 16px;
$icon-inbox-height: 12px;
$icon-inbox-total-width: 224px;
$icon-inbox-total-height: 202px;
$icon-inbox-image: '../images/global.png';
$icon-inbox: (208px, 156px, -208px, -156px, 16px, 12px, 224px, 202px, '../images/global.png', 'icon-inbox', );
$icon-pagination-arrow-left-name: 'icon-pagination-arrow-left';
$icon-pagination-arrow-left-x: 153px;
$icon-pagination-arrow-left-y: 126px;
$icon-pagination-arrow-left-offset-x: -153px;
$icon-pagination-arrow-left-offset-y: -126px;
$icon-pagination-arrow-left-width: 13px;
$icon-pagination-arrow-left-height: 20px;
$icon-pagination-arrow-left-total-width: 224px;
$icon-pagination-arrow-left-total-height: 202px;
$icon-pagination-arrow-left-image: '../images/global.png';
$icon-pagination-arrow-left: (153px, 126px, -153px, -126px, 13px, 20px, 224px, 202px, '../images/global.png', 'icon-pagination-arrow-left', );
$icon-pagination-arrow-right-name: 'icon-pagination-arrow-right';
$icon-pagination-arrow-right-x: 176px;
$icon-pagination-arrow-right-y: 126px;
$icon-pagination-arrow-right-offset-x: -176px;
$icon-pagination-arrow-right-offset-y: -126px;
$icon-pagination-arrow-right-width: 13px;
$icon-pagination-arrow-right-height: 20px;
$icon-pagination-arrow-right-total-width: 224px;
$icon-pagination-arrow-right-total-height: 202px;
$icon-pagination-arrow-right-image: '../images/global.png';
$icon-pagination-arrow-right: (176px, 126px, -176px, -126px, 13px, 20px, 224px, 202px, '../images/global.png', 'icon-pagination-arrow-right', );
$icon-process-succeed-name: 'icon-process-succeed';
$icon-process-succeed-x: 0px;
$icon-process-succeed-y: 126px;
$icon-process-succeed-offset-x: 0px;
$icon-process-succeed-offset-y: -126px;
$icon-process-succeed-width: 50px;
$icon-process-succeed-height: 50px;
$icon-process-succeed-total-width: 224px;
$icon-process-succeed-total-height: 202px;
$icon-process-succeed-image: '../images/global.png';
$icon-process-succeed: (0px, 126px, 0px, -126px, 50px, 50px, 224px, 202px, '../images/global.png', 'icon-process-succeed', );
$icon-recycle-bin-name: 'icon-recycle-bin';
$icon-recycle-bin-x: 208px;
$icon-recycle-bin-y: 78px;
$icon-recycle-bin-offset-x: -208px;
$icon-recycle-bin-offset-y: -78px;
$icon-recycle-bin-width: 16px;
$icon-recycle-bin-height: 16px;
$icon-recycle-bin-total-width: 224px;
$icon-recycle-bin-total-height: 202px;
$icon-recycle-bin-image: '../images/global.png';
$icon-recycle-bin: (208px, 78px, -208px, -78px, 16px, 16px, 224px, 202px, '../images/global.png', 'icon-recycle-bin', );
$icon-reply-msg-name: 'icon-reply-msg';
$icon-reply-msg-x: 208px;
$icon-reply-msg-y: 52px;
$icon-reply-msg-offset-x: -208px;
$icon-reply-msg-offset-y: -52px;
$icon-reply-msg-width: 16px;
$icon-reply-msg-height: 16px;
$icon-reply-msg-total-width: 224px;
$icon-reply-msg-total-height: 202px;
$icon-reply-msg-image: '../images/global.png';
$icon-reply-msg: (208px, 52px, -208px, -52px, 16px, 16px, 224px, 202px, '../images/global.png', 'icon-reply-msg', );
$icon-sent-name: 'icon-sent';
$icon-sent-x: 116px;
$icon-sent-y: 157px;
$icon-sent-offset-x: -116px;
$icon-sent-offset-y: -157px;
$icon-sent-width: 16px;
$icon-sent-height: 12px;
$icon-sent-total-width: 224px;
$icon-sent-total-height: 202px;
$icon-sent-image: '../images/global.png';
$icon-sent: (116px, 157px, -116px, -157px, 16px, 12px, 224px, 202px, '../images/global.png', 'icon-sent', );
$icon-user-account-exit-name: 'icon-user-account-exit';
$icon-user-account-exit-x: 208px;
$icon-user-account-exit-y: 104px;
$icon-user-account-exit-offset-x: -208px;
$icon-user-account-exit-offset-y: -104px;
$icon-user-account-exit-width: 16px;
$icon-user-account-exit-height: 16px;
$icon-user-account-exit-total-width: 224px;
$icon-user-account-exit-total-height: 202px;
$icon-user-account-exit-image: '../images/global.png';
$icon-user-account-exit: (208px, 104px, -208px, -104px, 16px, 16px, 224px, 202px, '../images/global.png', 'icon-user-account-exit', );
$icon-user-account-name: 'icon-user-account';
$icon-user-account-x: 166px;
$icon-user-account-y: 76px;
$icon-user-account-offset-x: -166px;
$icon-user-account-offset-y: -76px;
$icon-user-account-width: 26px;
$icon-user-account-height: 26px;
$icon-user-account-total-width: 224px;
$icon-user-account-total-height: 202px;
$icon-user-account-image: '../images/global.png';
$icon-user-account: (166px, 76px, -166px, -76px, 26px, 26px, 224px, 202px, '../images/global.png', 'icon-user-account', );
$icon-user-accout-popup-name: 'icon-user-accout-popup';
$icon-user-accout-popup-x: 60px;
$icon-user-accout-popup-y: 126px;
$icon-user-accout-popup-offset-x: -60px;
$icon-user-accout-popup-offset-y: -126px;
$icon-user-accout-popup-width: 46px;
$icon-user-accout-popup-height: 46px;
$icon-user-accout-popup-total-width: 224px;
$icon-user-accout-popup-total-height: 202px;
$icon-user-accout-popup-image: '../images/global.png';
$icon-user-accout-popup: (60px, 126px, -60px, -126px, 46px, 46px, 224px, 202px, '../images/global.png', 'icon-user-accout-popup', );
$logo-xl-name: 'logo-xl';
$logo-xl-x: 0px;
$logo-xl-y: 0px;
$logo-xl-offset-x: 0px;
$logo-xl-offset-y: 0px;
$logo-xl-width: 198px;
$logo-xl-height: 66px;
$logo-xl-total-width: 224px;
$logo-xl-total-height: 202px;
$logo-xl-image: '../images/global.png';
$logo-xl: (0px, 0px, 0px, 0px, 198px, 66px, 224px, 202px, '../images/global.png', 'logo-xl', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 76px;
$logo-offset-x: 0px;
$logo-offset-y: -76px;
$logo-width: 120px;
$logo-height: 40px;
$logo-total-width: 224px;
$logo-total-height: 202px;
$logo-image: '../images/global.png';
$logo: (0px, 76px, 0px, -76px, 120px, 40px, 224px, 202px, '../images/global.png', 'logo', );
$spritesheet-width: 224px;
$spritesheet-height: 202px;
$spritesheet-image: '../images/global.png';
$spritesheet-sprites: ($icon-add-contact, $icon-aside-inbox, $icon-back-arrow, $icon-contact, $icon-drafts, $icon-facilities, $icon-inbox, $icon-pagination-arrow-left, $icon-pagination-arrow-right, $icon-process-succeed, $icon-recycle-bin, $icon-reply-msg, $icon-sent, $icon-user-account-exit, $icon-user-account, $icon-user-accout-popup, $logo-xl, $logo, );
$spritesheet: (224px, 202px, '../images/global.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
