/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-facilities-name: 'icon-facilities';
$icon-facilities-x: 0px;
$icon-facilities-y: 0px;
$icon-facilities-offset-x: 0px;
$icon-facilities-offset-y: 0px;
$icon-facilities-width: 12px;
$icon-facilities-height: 16px;
$icon-facilities-total-width: 38px;
$icon-facilities-total-height: 16px;
$icon-facilities-image: '../images/global.png';
$icon-facilities: (0px, 0px, 0px, 0px, 12px, 16px, 38px, 16px, '../images/global.png', 'icon-facilities', );
$icon-inbox-name: 'icon-inbox';
$icon-inbox-x: 22px;
$icon-inbox-y: 0px;
$icon-inbox-offset-x: -22px;
$icon-inbox-offset-y: 0px;
$icon-inbox-width: 16px;
$icon-inbox-height: 12px;
$icon-inbox-total-width: 38px;
$icon-inbox-total-height: 16px;
$icon-inbox-image: '../images/global.png';
$icon-inbox: (22px, 0px, -22px, 0px, 16px, 12px, 38px, 16px, '../images/global.png', 'icon-inbox', );
$spritesheet-width: 38px;
$spritesheet-height: 16px;
$spritesheet-image: '../images/global.png';
$spritesheet-sprites: ($icon-facilities, $icon-inbox, );
$spritesheet: (38px, 16px, '../images/global.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
