.ch-header {
    @media screen and (max-width: $break-phone) {
        height: 10rem;
    }
}

.ch-header__section_logo {

    @media screen and (max-width: $break-phone) {
        padding: 3rem 6.2rem 0 2.7rem;
    }
}

.ch-main-nav-list {
    @media screen and (max-width: $break-phone) {
        display: none;
    }
}

.ch-user-account-entry {
    @media screen and (max-width: $break-phone) {
        display: none;
    }
}

.ch-header__menu-mobile__btn {
    @media screen and (max-width: $break-phone) {
        display: inline-block;
    }
}

.ch-mobile-mailbox__nav {
    display: flex;
    flex-flow: row wrap;
}

.ch-mobile-mailbox__nav-tab {
    flex: 1;
    text-align: center;
}


.ch-mobile-mailbox__nav-tab__link {
    padding: 2rem 4rem;
    width: 100%;
    border-bottom: .1rem solid #cbcdcf;
}
.ch-mobile-mailbox__nav-tab__link.ch-mobile-mailbox__nav-tab__link_active {
    border-bottom: .6rem solid #0071bc;
}


.ch-mobile-mailbox__nav-tab__text {
    font-size: 2.8rem;
    color: #5b616b;
}
