.ch-facilities-heading__row {

    @media screen and (max-width: $break-phone) {
        display: block;
        height: 13.5rem;
        padding-top: 2.8rem;
        padding-bottom: 2.8rem;
        padding-left: 1.7rem;
        padding-right: 1.7rem;

        .ch-facilities-heading__item:first-of-type {
            padding-left: 0;
        }

        .ch-facilities-heading__item:last-of-type {
            padding-right: 0;
        }
    }
}

.ch-facilities-heading__item {
    @media screen and (max-width: $break-phone) {
        padding: 0;
    }
}

.ch-input-block__form-input_search-field-map .leaflet-pelias-expanded .leaflet-pelias-input {

    @media screen and (max-width: $break-phone) {
        width: 100%;
        height: 8rem;
        font-size: 2.8rem;
        padding-left: 6rem;

    }

}

.ch-input-block__form-input_search-field-map .leaflet-bar a.leaflet-pelias-search-icon {    

    @media screen and (max-width: $break-phone) {
        position: relative;
        top: 2.5rem;
        left: 1rem;
        background-image: url("../../assets/images/us-icon/icon-facilities-m.png");
    }
}

.ch-input-block__form-input_search-field-map .leaflet-pelias-expanded .leaflet-pelias-close {
    @media screen and (max-width: $break-phone) {
        margin-top: -.6rem;
        margin-right: .8rem;
    }
}




.ch-facilities-heading__input__item_2,
.ch-facilities-heading__input__item_3,
.ch-facilities-heading__input__item_4 {
    @media screen and (max-width: $break-phone) {
        display: none;
    }
}
