.icon-remove {
  background: url("../images/us-icon/icon-remove.svg") no-repeat center;
}

.icon-view {
  background: url("../images/us-icon/icon-view.svg") no-repeat center;
}

.icon-download {
  background: url("../images/us-icon/icon-download.svg") no-repeat center;
}

.icon-search {
  background: url("../images/us-icon/icon-login-search.png") no-repeat center;
}

.icon-attachment {
  background: url("../images/us-icon/icon-attachment.svg") no-repeat center;
}

.icon-user {
  background: url("../images/us-icon/user-icon.svg") no-repeat center;
}

.icon-login-message {
  background: url("../images/us-icon/icon-login-message.svg") no-repeat center;
}

.icon-login-clock {
  background: url("../images/us-icon/icon-login-clock.svg") no-repeat center;
}

.icon-login-search {
  background: url("../images/us-icon/icon-login-search.svg") no-repeat center;
}

.icon-globe {
  background: url("../images/us-icon/icon-globe.svg") no-repeat center;
}

.icon-arrow-down {
  background: url("../images/us-icon/arrow-down-white.svg") no-repeat center;
}

.icon-menu-mobile {
  background: url("../images/us-icon/icon-menu-mobile.svg") no-repeat center;
}

.icon-menu-close {
  background: url("../images/us-icon/icon-menu-mobile.svg") no-repeat center;
}
