.icon-remove {
  background: url("../images/us-icon/icon-remove.png") no-repeat center;
}

.icon-view {
  background: url("../images/us-icon/icon-view.png") no-repeat center;
}


.icon-download {
  background: url("../images/us-icon/icon-download.png") no-repeat center;
}

.icon-search {
  background: url("../images/us-icon/search.png") no-repeat center;
}

.icon-attachment {
  background: url("../images/us-icon/icon-attachment.png") no-repeat center;
}
