<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span translate="global.title">jhipster</span> <span
                class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <strong class="caret"></strong>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="lookupState" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupState">Lookup state</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupCounty" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupCounty">Lookup county</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupCommunicationMethod" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupCommunicationMethod">Lookup communication method</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupReferralResponse" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupReferralResponse">Lookup referral response</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupApprovalStatus" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupApprovalStatus">Lookup approval status</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupResponseAgency" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupResponseAgency">Lookup response agency</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupAllegationDisposition" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupAllegationDisposition">Lookup allegation disposition</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupAllegation" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupAllegation">Lookup allegation</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupNonProtectingParent" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupNonProtectingParent">Lookup non protecting parent</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupPlacementFacility" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupPlacementFacility">Lookup placement facility</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupAbuseFrequencyPeriod" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupAbuseFrequencyPeriod">Lookup abuse frequency period</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupAgePeriod" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupAgePeriod">Lookup age period</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupDispositionClosureReason" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupDispositionClosureReason">Lookup disposition closure reason</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupDisposition" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupDisposition">Lookup disposition</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupAddressType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupAddressType">Lookup address type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupUnemployedParent" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupUnemployedParent">Lookup unemployed parent</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupReligion" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupReligion">Lookup religion</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupPrimaryLanguage" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupPrimaryLanguage">Lookup primary language</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupNameType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupNameType">Lookup name type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupPrimaryEthnicity" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupPrimaryEthnicity">Lookup primary ethnicity</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupMilitaryStatus" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupMilitaryStatus">Lookup military status</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupMaritalStatus" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupMaritalStatus">Lookup marital status</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupHispanicOrigin" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupHispanicOrigin">Lookup hispanic origin</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupGender" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupGender">Lookup gender</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupEstimatedDOB" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupEstimatedDOB">Lookup estimated dob</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupCountry" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupCountry">Lookup country</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupImmigrationStatus" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupImmigrationStatus">Lookup immigration status</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupIncapacitatedParent" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupIncapacitatedParent">Lookup incapacitated parent</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="place" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.place">Place</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="referral" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.referral">Referral</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="allegation" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.allegation">Allegation</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="referralClient" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.referralClient">Referral client</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="client" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.client">Client</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="clientAddress" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.clientAddress">Client address</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupReporterRelationshipType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupReporterRelationshipType">Lookup reporter relationship type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupInjuryHarmType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupInjuryHarmType">Lookup injury harm type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupAbuseBodyPart" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupAbuseBodyPart">Lookup abuse body part</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="allegationDisposition" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.allegationDisposition">Allegation disposition</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="injuryHarmDetails" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.injuryHarmDetails">Injury harm details</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="reporter" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.reporter">Reporter</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="injuryToBodyDetails" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.injuryToBodyDetails">Injury to body details</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupClientConditionType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupClientConditionType">Lookup client condition type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupHospitalizationOccurredCode" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupHospitalizationOccurredCode">Lookup hospitalization occurred code</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupInfectiousContagiousCode" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupInfectiousContagiousCode">Lookup infectious contagious code</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupMedicationPrescribedCode" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupMedicationPrescribedCode">Lookup medication prescribed code</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupReferralMadeCode" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupReferralMadeCode">Lookup referral made code</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupTestsOrderedCode" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupTestsOrderedCode">Lookup tests ordered code</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupActivationReason" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupActivationReason">Lookup activation reason</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupClientRelationshipType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupClientRelationshipType">Lookup client relationship type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupSameHome" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupSameHome">Lookup same home</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lawEnforcement" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lawEnforcement">Law enforcement</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="clientRelationship" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.clientRelationship">Client relationship</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="safetyAlert" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.safetyAlert">Safety alert</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="clientCondition" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.clientCondition">Client condition</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupReferralType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupReferralType">Lookup referral type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="narrativeTemplate" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.narrativeTemplate">Narrative template</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupEthUnableToDetermineReason" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupEthUnableToDetermineReason">Lookup eth unable to determine reason</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupHispUnableToDetermineReason" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupHispUnableToDetermineReason">Lookup hisp unable to determine reason</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupPhoneType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupPhoneType">Lookup phone type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupEmailType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupEmailType">Lookup email type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="otherClientName" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.otherClientName">Other client name</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupAllegationGroup" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupAllegationGroup">Lookup allegation group</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="email" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.email">Email</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="phone" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.phone">Phone</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupLiterateCode" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupLiterateCode">Lookup literate code</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="document" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.document">Document</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="attachment" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.attachment">Attachment</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupReferralRestriction" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupReferralRestriction">Lookup referral restriction</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="clientIndexNumber" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.clientIndexNumber">Client index number</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="quickContact" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.quickContact">Quick contact</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="calendarTask" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.calendarTask">Calendar task</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupContactLocationType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupContactLocationType">Lookup contact location type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupProvidedBy" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupProvidedBy">Lookup provided by</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupServiceContactType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupServiceContactType">Lookup service contact type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupServiceStatus" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupServiceStatus">Lookup service status</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupServiceSupervision" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupServiceSupervision">Lookup service supervision</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupDeliveredToIndividual" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupDeliveredToIndividual">Lookup delivered to individual</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupContactActionType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupContactActionType">Lookup contact action type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupContactPhoneType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupContactPhoneType">Lookup contact phone type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="deliveredService" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.deliveredService">Delivered service</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="individualDeliveredService" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.individualDeliveredService">Individual delivered service</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="chatMessage" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.chatMessage">Chat message</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupSafetyPlanActionResult" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupSafetyPlanActionResult">Lookup safety plan action result</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="safetyPlanItem" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.safetyPlanItem">Safety plan item</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="safetyPlanAction" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.safetyPlanAction">Safety plan action</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupWeekDay" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupWeekDay">Lookup week day</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupMonth" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupMonth">Lookup month</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupServiceToKeepSafe" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupServiceToKeepSafe">Lookup service to keep safe</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="frequencyWeekDay" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.frequencyWeekDay">Frequency week day</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupServiceCategory" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupServiceCategory">Lookup service category</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="lookupServiceType" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.lookupServiceType">Lookup service type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="inbox" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.inbox">Inbox</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="outbox" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.outbox">Outbox</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="mailBox" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.mailBox">Mail box</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="message" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.message">Message</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="deleted" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.deleted">Deleted</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="draft" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.draft">Draft</span></a></li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" translate="global.menu.account.main">
                                Account
                            </span>
                            <strong class="caret"></strong>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse"
                                                                             data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse"
                                                                             data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions" data-toggle="collapse"
                                                                             data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" id="logout"
                                                                             data-toggle="collapse"
                                                                             data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Sign out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse"
                                                                              data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Sign in</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse"
                                                                              data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
                    class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                            <strong class="caret"></strong>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-user"></span>
                            &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="tracker" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;<span translate="global.menu.admin.tracker">User tracker</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse"
                                                                              data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                        <li ng-hide="inProduction"><a href='/h2-console' target="_tab" data-toggle="collapse"
                                                      data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-hdd"></span>
                            &#xA0;<span translate="global.menu.admin.database">Database</span></a></li>
                    </ul>
                </li>
                <!-- CWS-44 -->
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="search" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="hidden-sm" translate="global.menu.search">Search</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-wrench"></span>
                            <span class="hidden-sm">
                                POC
                            </span>
                            <strong class="caret"></strong>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="audio-recorder" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-play-circle"></span>
                            &#xA0;<span translate="global.menu.POC.audio-recorder">Audio Recorder</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="voice-recognition" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-bullhorn"></span>
                            &#xA0;<span>Voice Recognition</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="google-maps" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-globe"></span>
                            &#xA0;<span translate="global.menu.POC.google-maps">Google Maps</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="elastic-search" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-search"></span>
                            &#xA0;<span translate="global.menu.POC.elastic-search">Elastic Search + drag&amp;drop</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="phonetic-search" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-search"></span>
                            &#xA0;<span translate="global.menu.POC.phonetic-search">Phonetic Search</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="google-address" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.POC.google-address">Google Address</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="reporter-tab" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-bullhorn"></span>
                            &#xA0;<span>Reporter Tab</span></a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            <strong class="caret"></strong>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)" data-toggle="collapse"
                               data-target=".navbar-collapse.in">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
