<style>
    /* style fixes to make the page more readable within the latest design template */

    span.main-nav__item {
        color: darkslategray;
        padding-right: 20px;
    }

    span.active {
        color: green;
    }

    .alert {
        margin-left: 15px;
    }
</style>

<!-- search input box and button -->
<div class="header-wrapper">
    <h2>Search</h2>
</div>

<div class="search">

    <form name="searchForm" class="form-inline">

        <div class="container">
            <div class="input-search-contact">
                <input type="text" class="search-contact" ng-model="searchString" ng-change="doSearch();" id="searchQuery" placeholder="{{ 'search' | translate }}">
            </div>
        </div>
    </form>
</div>



<!-- 'Records found: X' message -->
<!--
<div style="margin-bottom: 15px; font-weight: bold; color: white;" ng-switch="toShow">
    <span ng-switch-when="all">{{ 'search.records-found' | translate: { count: referrals.length + reporters.length + clients.length } }}</span>
    <span ng-switch-when="referrals">{{ 'search.referrals-found' | translate: { count: referrals.length } }}</span>
    <span ng-switch-when="reporters">{{ 'search.reporters-found' | translate: { count: reporters.length } }}</span>
    <span ng-switch-when="clients">{{ 'search.clients-found' | translate: { count: clients.length } }}</span>
</div>
-->
<div style="margin-left: 15px; font-weight: bold; color: red;" ng-show="toShow">
    <span>{{ 'search.records-found' | translate: { count: recordCount } }}</span>
</div>
<div style="margin-left: 15px; color:  #434345;" class="center-block" ng-show="!toShow">
    <span>{{ 'search.please-type-characters-at-least' | translate: { count: 3 } }}</span>
</div>

<!-- search results menu -->
<div style="margin-bottom: 15px; margin-left: 15px;" class="center-block" ng-show="recordCount">
    <span class="main-nav__item" ng-class="{active: toShow == 'all'}" ng-click="show('all')">
        <span class="glyphicon glyphicon-th-large" style="margin-left: 20px;"/>
        <span class="title hidden-sm" translate="search.all">all</span> ({{ recordCount }})
    </span>
    <span class="main-nav__item" ng-class="{active: toShow == 'referrals'}" ng-click="show('referrals')">
        <span class="glyphicon glyphicon-arrow-left" style="margin-left: 20px;"/>
        <span translate="search.referrals">referrals</span> ({{ referrals.length }})
    </span>
    <span class="main-nav__item" ng-class="{active: toShow == 'reporters'}" ng-click="show('reporters')">
        <span class="glyphicon glyphicon-bullhorn" style="margin-left: 20px;"/>
        <span translate="search.reporters">reporters</span> ({{ reporters.length }})
    </span>
    <span class="main-nav__item" ng-class="{active: toShow == 'clients'}" ng-click="show('clients')">
        <span class="glyphicon glyphicon-user" style="margin-left: 20px;"/>
        <span translate="search.clients">clients</span> ({{ clients.length }})
    </span>
</div>

<!-- referral search results -->
<div class="alert alert-warning" data-ng-repeat="referral in referrals" ng-show="toShow == 'all' || toShow == 'referrals'">
    <span class="glyphicon glyphicon-arrow-left" style="margin-left: 15px;" />
    <span translate="search.referral">referral</span>
    <br/>ID: {{referral.id}}
    <br/>{{ 'search.received-date' | translate }}: {{referral.receivedDate | date: 'mediumDate'}}
    <br/>{{ 'search.sufficient-information' | translate }}: {{ referral.sufficientInformationFlag ? 'search.yes' : 'search.no' | translate }}
    <br/><span style="font-weight: bold;" ng-click="showDetails('referral', referral)" translate="search.details"/>
</div>

<!-- reporter search results -->
<div class="alert alert-warning" data-ng-repeat="reporter in reporters" ng-show="toShow == 'all' || toShow == 'reporters'">
    <span class="glyphicon glyphicon-bullhorn" style="margin-left: 15px;" />
    <span translate="search.reporter">reporter</span>
    <br/>{{ 'search.bage-number' | translate }}: {{reporter.bageNumber}}
    <br/>{{ 'search.name' | translate }}: {{reporter.firstName}} {{reporter.lastName}}
    <br/><span style="font-weight: bold;" ng-click="showDetails('reporter', reporter)" translate="search.details"/>
</div>

<!-- client search results -->
<div class="alert alert-warning" data-ng-repeat="client in clients" ng-show="toShow == 'all' || toShow == 'clients'">
    <span class="glyphicon glyphicon-user" style="margin-left: 15px;" />
    <span translate="search.client">client</span>
    <br/>{{ 'search.name' | translate }}: {{client.commonFirstName}} {{client.commonLastName}}
    <br/>{{ 'search.health-summary' | translate }}: {{client.healthSummaryText}}
    <br/><span style="font-weight: bold;" ng-click="showDetails('client', client)" translate="search.details"/>
</div>

<!-- referral details -->
<div class="alert alert-success" ng-show="toShow == 'referralDetails'">
    <span class="glyphicon glyphicon-arrow-left" style="margin-left: 15px;" />
    <span translate="search.referral">referral</span>
    <br/>ID: {{referral.id}}
    <br/>{{ 'search.received-date' | translate }}: {{referral.receivedDate | date: 'mediumDate'}}
    <br/>{{ 'search.sufficient-information' | translate }}: {{ referral.sufficientInformationFlag ? 'search.yes' : 'search.no' | translate }}
    <br/>{{ 'search.anonymous-reporter' | translate }}: {{ referral.anonymousReporterFlag ? 'search.yes' : 'search.no' | translate }}
    <br/>{{ 'search.response-rational-text' | translate }}: {{referral.responseRationalText}}
    <br/>{{ 'search.screener-note' | translate }}: {{referral.screenerNoteText}}
</div>

<!-- reporter details -->
<div class="alert alert-success" ng-show="toShow == 'reporterDetails'">
    <span class="glyphicon glyphicon-bullhorn" style="margin-left: 15px;" />
    <span translate="search.reporter">reporter</span>
    <br/>{{ 'search.bage-number' | translate }}: {{reporter.bageNumber}}
    <br/>{{ 'search.name' | translate }}: {{reporter.firstName}} {{reporter.lastName}}
    <br/>{{ 'search.city' | translate }}: {{reporter.cityName}}
    <br/>{{ 'search.employer' | translate }}: {{reporter.employerName}}
</div>

<!-- client details -->
<div class="alert alert-success" ng-show="toShow == 'clientDetails'">
    <span class="glyphicon glyphicon-user" style="margin-left: 15px;" />
    <span translate="search.client">client</span>
    <br/>{{ 'search.name' | translate }}: {{client.commonFirstName}} {{client.commonLastName}}
    <br/>{{ 'search.health-summary' | translate }}: {{client.healthSummaryText}}
    <br/>{{ 'search.alien-registration-number' | translate }}: {{client.alienRegistrationNumber}}
    <br/>{{ 'search.birth-city' | translate }}: {{client.birthCity}}
    <br/>{{ 'search.birth-date' | translate }}: {{client.birthDate | date: 'mediumDate'}}
</div>
