<ul class="ch-main-nav-list">
    <li class="ch-main-nav-list__item" has-any-authority="PARENT, CASE_WORKER">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="ch-inbox.messages({directory: 'inbox'})" ng-class="{'ch-main-nav-item__link_active': $state.includes('ch-inbox')}">
                <span class="icon icon-inbox ch-main-nav-item__icon"></span>
                <div class="ch-main-nav-item__text-bundle">
                    <span class="ch-main-nav-item__text" title="Private Inbox for communication with case worker">Inbox</span>
                    <span ng-if="unreadInboxCount > 0" class="ch-main-nav-item__inbox-counter">{{unreadInboxCount}}</span>
                </div>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="PARENT">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="ch-facilities" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text" title="Children's residential facilities viewer">Facilities</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="metrics" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Metrics</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="user-management" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Users</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="tracker" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Tracker</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="health" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Health</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="configuration" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Configuration</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="audits" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Audits</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="logs" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Logs</span>
            </a>
        </div>
    </li>
</ul>
