<ul class="ch-main-nav-list">
    <li class="ch-main-nav-list__item">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="ch-inbox.inbox" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-inbox ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text ch-main-nav-item__text_badge-notify">Inbox</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="ch-facilities" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Facilities</span>
            </a>
        </div>
    </li>
</ul>
