<div class="ch-login">
    <div class="ch-login-bg"></div>

    <div class="ch-login__header">
        <div class="container-fluid ">
            <div class="row clearfix rowfix">

                <div class="col-md-6">
                    <div class="ch-login__header__logo">
                      <a href=""><span class="logo-image"></span></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ch-login__header__actions">

                          <div class="ch-login__actions__new-account">
                              <a class="" href="#/registerme">Create an Account</a>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ch-login__content">
      <div class="container-fluid ">
          <div class="row clearfix rowfix">

              <div class="col-md-8">
                  <div class="ch-login__content__text">
                      <div class="ch-login__content__text-title">
                          <h3>CWS Parent Portal</h3>
                      </div>

                      <ul class="ch-login__content__text-item">
                          <li><span class="icon icon-login-message"></span>
                              Talk with your caseworker</li>
                          <li><span class="icon icon-login-clock"></span>
                              Keep a history of your messages</li>
                          <li><span class="icon icon-login-search"></span>
                              Search for children's residential facilities closer to you</li>
                      </ul>
                  </div>
              </div>

              <div class="col-md-4">

                  <div class="ch-login__alert-failed-login"
                       ng-show="isAuthenticationFailed()">
                      <h3>Failed to sign in!</h3>
                      <h4>Please check your credentials and try again.</h4>
                  </div>

                  <div class="ch-login__alert-failed-login"
                       ng-show="isNotActivated()">
                      <h3>Your account has not been activated yet!</h3>
                      <h4>Activation instructions were sent to your email. Please check your email and follow the instructions to activate your account.</h4>
                  </div>

                  <div class="ch-login__form">
                      <h3 class="ch-login__form__title">Sign In</h3>

                      <form class="form" role="form" ng-submit="login($event)">
                          <div class="ch-login__form__group">
                              <label for="username" translate="">Username</label>
                              <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
                          </div>

                          <div class="ch-login__form__group">
                              <label for="password" translate="">Password</label>
                              <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                     ng-model="password">
                          </div>

                          <div class="ch-login__form__alert-link">
                              <a class="alert-link" href="#/reset/request" translate="">Forgot Password?</a>
                          </div>

                          <button type="submit" class="ch-login__form__button-submit"
                                  translate="login.form.button">Sign In</button>
                      </form>
                  </div>

                  <ul class="ch-login__content__text-item_tablet">
                      <li><span class="icon icon-login-message"></span>
                          Private communication with your caseworkers</li>
                      <li><span class="icon icon-login-clock"></span>
                          Storage of your messages history</li>
                      <li><span class="icon icon-login-search"></span>
                          Easy searching of children's residential facilities</li>
                  </ul>

              </div>
          </div>
      </div>
    </div>

    <div class="ch-login__social">

          <div class="container-fluid ">
              <div class="row clearfix rowfix">

                  <div class="col-md-7">
                      <div class="ch-login__social__container">
                          <h3 class="ch-login__social-title"><span>
                              EngagePoint CWS</span></h3>
                          <div class="ch-login__social__pane">
                              <iframe id="youtube" src="https://www.youtube.com/embed/videoseries?list=PLe1kIXFxUigCVLbRPwzG4i7xxeHG1ZbAO" width="480" height="500"></iframe>

                          </div>
                      </div>
                  </div>

                  <div class="col-md-5">
                      <div class="ch-login__social__container">

                        <h3 class="ch-login__social-title"><span>
                            California Department of Social Services</span></h3>
                        <div class="ch-login__social__pane">
                          <a class="twitter-timeline" href="https://twitter.com/CA_CWDS" data-widget-id="738745796632383488">Tweets by @CA_CWDS</a>
                        </div>

                      </div>
                  </div>

              </div>
          </div>

    </div>

    <div class="ch-login__footer">

      <div class="container-fluid ">
          <div class="row clearfix rowfix">
              <div class="col-md-12">

                  <div class="ch-login__footer__links">
                      <ul class="footer-links__list">
                        <li><a href="http://www.chhs.ca.gov/Pages/Accessibility.aspx" target="_blank">Accessibility</a></li>
                        <li><a href="http://www.chhs.ca.gov/Pages/Conditions.aspx" target="_blank">Conditions of Use</a></li>
                        <li><a href="" ng-click="openPrivacyPolicyModal();">Privacy Policy</a></li>
                      </ul>
                  </div>

                  <div class="ch-login__footer__logo">
                    <a href="http://engagepoint.com" target="_blank"><span class="logo-image"></span></a>
                  </div>
              </div>
           </div>
        </div>

    </div>
</div>
