<div class="ch-login">
  <div class="ch-login-bg"></div>

    <div class="row">

        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">

            <div class="ch-login__logo-image">
              <a href=""><span class="logo-image"></span></a>
            </div>

            <div class="alert alert-danger" ng-show="isAuthenticationError()" translate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>


            <div class="ch-login__form">

                <h3 class="ch-login__form__title">Sign In</h3>
                <form class="form" role="form" ng-submit="login($event)">

                    <div class="ch-login__form__group">
                        <label for="username" translate="">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
                    </div>

                    <div class="ch-login__form__group">
                        <label for="password" translate="">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                               ng-model="password">
                    </div>

                    <div class="ch-login__form__alert-link">
                        <a class="alert-link" href="#/reset/request" translate="">Forgot Password?</a>
                    </div>

                    <button type="submit" class="ch-login__form__button-submit"
                            translate="login.form.button">Sign In</button>
                </form>
            </div>

            <div class="ch-login__new-account">
                <a class="" href="#/registerme">Create an Account</a>
            </div>
        </div>
    </div>
</div>
